<header>
    <link rel="stylesheet" href="~/css/About.css" media="screen">
</header>

<section class="skrollable u-clearfix u-container-align-center u-section-1" id="sec-d39b" data-image-width="2000"
         data-image-height="1333">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <div class="skrollable u-container-style u-expanded-width u-group u-image u-image-round u-parallax u-radius u-shape-rectangle u-image-1"
             data-image-width="3262" data-image-height="1434">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h5 class="u-text u-text-body-alt-color u-text-default u-text-1">
                    About us<br>
                </h5>
                <h1 class="u-text u-text-body-alt-color u-text-2"> Future-Ready AI Solutions</h1>
                <p class="u-text u-text-body-alt-color u-text-3">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
                <p class="u-small-text u-text u-text-body-alt-color u-text-default u-text-variant u-text-4">
                    Image from <a href="freepik.com"
                                  class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-1">Freepik</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-section-2" id="block-1">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1">
            <div class="u-gallery-inner u-gallery-inner-1">
                <div class="u-effect-hover-zoom u-gallery-item">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="~/images/90fc53c9.svg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-1"></div>
                </div>
                <div class="u-effect-hover-zoom u-gallery-item">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="~/images/90fc53c9.svg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-2"></div>
                </div>
                <div class="u-effect-hover-zoom u-gallery-item">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="~/images/90fc53c9.svg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-section-3" id="block-3">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1">
            <div class="u-gallery-inner u-gallery-inner-1">
                <div class="u-effect-hover-zoom u-gallery-item">
                    <div class="u-back-slide" data-image-width="1280" data-image-height="1024">
                        <img class="u-back-image u-expanded" src="~/images/photo-1711312098674-06eeac832db3.jpeg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-1"></div>
                </div>
                <div class="u-effect-hover-zoom u-gallery-item">
                    <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                        <img class="u-back-image u-expanded"
                             src="~/images/g8b4a6e67b10c4b145097486aaae434ce886f9760b6e02710a37705a553578161dcf52065c6ff2c255bfa82fef3926029_1280.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-2"></div>
                </div>
                <div class="u-effect-hover-zoom u-gallery-item">
                    <div class="u-back-slide" data-image-width="1280" data-image-height="720">
                        <img class="u-back-image u-expanded"
                             src="~/images/4c9fe605288aaa6714305d193f914d3337519744332157192d579824b5725923dd61fe67a84631028ce2bd3f49ac7923f44d3d9ddf2d6e2ee90366_1280.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-3"></div>
                </div>
                <div class="u-effect-hover-zoom u-gallery-item">
                    <div class="u-back-slide" data-image-width="1280" data-image-height="848">
                        <img class="u-back-image u-expanded"
                             src="~/images/552242274761ceb762a7328eaa7b3ef5b934b93ee164121442f550f4e4e68ee782ff3120c6dc0862f0c1ab91ab9a1989f9596d09406b394bf01df1_1280.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-4"></div>
                </div>
                <div class="u-effect-hover-zoom u-gallery-item">
                    <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                        <img class="u-back-image u-expanded"
                             src="~/images/30ff3a1e25cc47c498fa88c4b506a0167a5edc9055187b3a4d1b128f968e8bcd3306ed8803b605db6f20ecc350b6ecfad7e38f1630d47f7dab7e63_1280.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-5"></div>
                </div>
                <div class="u-effect-hover-zoom u-gallery-item">
                    <div class="u-back-slide" data-image-width="1280" data-image-height="914">
                        <img class="u-back-image u-expanded"
                             src="~/images/d171be50d265157dc0ee4bf48af32791826ff2acaa40bff00eeabf584ea30fada48c906d61ecc24e2227f2cf746ace5aea17ec87f37d38231462bb_1280.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-6"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-container-align-center u-image u-section-4" id="block-2" data-image-width="1280"
         data-image-height="829">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
