@{
    ViewData["Title"] = "Home Page";
}

<header>
    <link rel="stylesheet" href="~/css/index.css" media="screen">
</header>

<section class="u-clearfix u-image u-section-1" id="sec-fdc2" data-image-width="400" data-image-height="265">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-grey-5 u-section-2" id="sec-c431">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1"> 最新優惠 </h2>
        <div class="u-carousel u-expanded-width-xs u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-on-hover u-gallery-1"
             id="carousel-8b83" data-interval="5000" data-u-ride="carousel">
            <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                <li data-u-target="#carousel-8b83" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle"
                    style="width: 10px; height: 10px;"></li>
                <li data-u-target="#carousel-8b83" data-u-slide-to="1" class="u-grey-70 u-shape-circle"
                    style="width: 10px; height: 10px;"></li>
            </ol>
            <div class="u-carousel-inner u-gallery-inner" role="listbox">
                <div class="u-active u-carousel-item u-effect-fade u-gallery-item u-carousel-item-1">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="~/images/90fc53c9.svg">
                    </div>
                    <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-1">
                        <h3 class="u-gallery-heading">Sample Title</h3>
                        <p class="u-gallery-text">Sample Text</p>
                    </div>
                </div>
                <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-2">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="~/images/90fc53c9.svg">
                    </div>
                    <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-2">
                        <h3 class="u-gallery-heading">Sample Title</h3>
                        <p class="u-gallery-text">Sample Text</p>
                    </div>
                </div>
            </div>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-hidden-sm u-hidden-xs u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1"
               href="#carousel-8b83" role="button" data-u-slide="prev">
                <span aria-hidden="true">
                    <svg viewBox="0 0 451.847 451.847">
                        <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                    </svg>
                </span>
                <span class="sr-only">
                    <svg viewBox="0 0 451.847 451.847">
                        <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                    </svg>
                </span>
            </a>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-hidden-sm u-hidden-xs u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2"
               href="#carousel-8b83" role="button" data-u-slide="next">
                <span aria-hidden="true">
                    <svg viewBox="0 0 451.846 451.847">
                        <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                    </svg>
                </span>
                <span class="sr-only">
                    <svg viewBox="0 0 451.846 451.847">
                        <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>
<section class="u-clearfix u-image u-section-3" id="sec-ef5d" data-image-width="1280" data-image-height="853">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="custom-expanded u-border-3 u-border-grey-40 u-container-style u-custom-color-1 u-group u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h3 class="u-align-center u-text u-text-1"> 關於xxx</h3>
                <h5 class="u-align-center u-text u-text-2">
                    XX
                    旅店是一間以簡約設計為特色的住宿空間，提供舒適且高品質的環境，讓旅客在繁忙旅途中享受寧靜與放鬆。旅店內部設計融合現代風格與溫暖色調，打造清新雅緻的氛圍。我們注重細節，從寬敞明亮的房間到精心維護的公共空間，都致力於提供最舒適的住宿體驗。旅店周邊環境優美，適合散步與探索當地風情，無論是商務出差還是休閒旅行，XX
                    旅店都是您的理想選擇。
                </h5>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-grey-5 u-section-4" id="sec-f7a2">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-align-left u-container-style u-grey-5 u-layout-cell u-left-cell u-shape-rectangle u-size-25-lg u-size-25-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1"
                         data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <div class="u-container-layout u-container-layout-1">
                            <h3 class="u-align-left u-text u-text-1">房型介紹 </h3>
                            <p class="u-align-left u-text u-text-2">一般樓層 </p>
                            <p class="u-align-left u-text u-text-3"> xxx旅店寬敞舒適、採光充足的客房，將文化融入於現代設計，為賓客打造完善的旅宿空間​。</p>
                            <a href=""
                               class="u-active-black u-align-left u-border-1 u-border-active-black u-border-black u-border-hover-black u-btn u-btn-round u-button-style u-hover-black u-none u-radius u-text-active-white u-text-body-color u-text-hover-white u-btn-1">
                                查看房型
                            </a>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-35-lg u-size-35-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2"
                         data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
                         data-animation-direction="X">
                        <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                            <div class="u-carousel u-expanded-width u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-on-hover u-gallery-1"
                                 id="carousel-28fb" data-interval="5000" data-u-ride="carousel">
                                <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                                    <li data-u-target="#carousel-28fb" data-u-slide-to="0" class="u-active u-grey-70 u-shape-rectangle"
                                        style="width: 30px; height: 3px;"></li>
                                    <li data-u-target="#carousel-28fb" data-u-slide-to="1" class="u-grey-70 u-shape-rectangle"
                                        style="width: 30px; height: 3px;"></li>
                                    <li data-u-target="#carousel-28fb" data-u-slide-to="2" class="u-grey-70 u-shape-rectangle"
                                        style="width: 30px; height: 3px;"></li>
                                </ol>
                                <div class="u-carousel-inner u-gallery-inner" role="listbox">
                                    <div class="u-active u-carousel-item u-effect-fade u-gallery-item u-carousel-item-1"
                                         data-image-width="1380" data-image-height="920">
                                        <div class="u-back-slide" data-image-width="1280" data-image-height="829">
                                            <img class="u-back-image u-expanded"
                                                 src="~/images/bf871fb17079f86ba24c4667f017db9d62bde80b28e98ade5cb071d893781689a74772e1da8d859d3e1773da90884190686688fb649099f79107fb_1280.jpg">
                                        </div>
                                        <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-1"></div>
                                    </div>
                                    <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-2" data-image-width="700"
                                         data-image-height="700">
                                        <div class="u-back-slide" data-image-width="1380" data-image-height="916">
                                            <img class="u-back-image u-expanded" src="~/images/bf871fb17079f86ba24c4667f017db9d62bde80b28e98ade5cb071d893781689a74772e1da8d859d3e1773da90884190686688fb649099f79107fb_1280.jpg"
                                                 alt="">
                                        </div>
                                        <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-2"></div>
                                    </div>
                                    <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-3" data-image-width="1380"
                                         data-image-height="985">
                                        <div class="u-back-slide">
                                            <img class="u-back-image u-expanded" src="~/images/bf871fb17079f86ba24c4667f017db9d62bde80b28e98ade5cb071d893781689a74772e1da8d859d3e1773da90884190686688fb649099f79107fb_1280.jpg">
                                        </div>
                                        <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-3"></div>
                                    </div>
                                </div>
                                <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-icon-circle u-opacity u-opacity-70 u-palette-1-base u-spacing-10 u-carousel-control-1"
                                   href="#carousel-28fb" role="button" data-u-slide="prev">
                                    <span aria-hidden="true">
                                        <svg viewBox="0 0 8 8">
                                            <path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"></path>
                                        </svg>
                                    </span>
                                    <span class="sr-only">
                                        <svg viewBox="0 0 8 8">
                                            <path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-icon-circle u-opacity u-opacity-70 u-palette-1-base u-spacing-10 u-text-white u-carousel-control-2"
                                   href="#carousel-28fb" role="button" data-u-slide="next">
                                    <span aria-hidden="true">
                                        <svg viewBox="0 0 8 8">
                                            <path d="M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z"></path>
                                        </svg>
                                    </span>
                                    <span class="sr-only">
                                        <svg viewBox="0 0 8 8">
                                            <path d="M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-5" id="sec-1c33">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">設施服務 </h2>
        <div class="custom-expanded u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1">
            <div class="u-gallery-inner u-gallery-inner-1">
                <div class="u-effect-hover-zoom u-gallery-item">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="~/images/default-image-11.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-1"></div>
                </div>
                <div class="u-effect-hover-zoom u-gallery-item">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="~/images/default-image-11.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-2"></div>
                </div>
                <div class="u-effect-hover-zoom u-gallery-item">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="~/images/default-image-11.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>