.u-section-1 .u-sheet-1 {
  min-height: 280px;
}

.u-section-1 .u-form-1 {
  height: 98px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 36px 45px 60px 56px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 748px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-group-1 {
  width: 1098px;
  min-height: 778px;
  height: auto;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 985px;
  margin: 13px auto 0 27px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 340px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 7px 22px 0;
}

.u-section-2 .u-image-1 {
  width: 342px;
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 568px;
  min-height: 318px;
  height: auto;
  margin: -296px 8px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  margin: -16px 20px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 13px 171px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 19px 0 0;
  padding: 5px 0;
}

.u-section-2 .u-table-1 {
  width: 971px;
  margin: 30px auto 0;
}

.u-block-33b9-23 {
  height: 46px;
}

.u-section-2 .u-table-cell-5 {
  width: 941px;
  margin: 8px auto 0;
}

.u-section-2 .u-table-cell-10 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-11 {
  width: 941px;
  margin: 8px auto 0;
}

.u-section-2 .u-table-cell-12 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-15 {
  font-weight: 700;
  background-image: none;
}

.u-block-33b9-46 {
  height: 46px;
}

.u-section-2 .u-group-3 {
  width: 186px;
  min-height: 142px;
  height: auto;
  margin: -303px auto 0 409px;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 20px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 4px auto 0 25px;
}

.u-section-2 .u-text-5 {
  margin: -29px 20px 0 137px;
}

.u-section-2 .u-text-6 {
  margin: 0 32px 0 auto;
}

.u-section-2 .u-group-4 {
  width: 186px;
  min-height: 142px;
  height: auto;
  margin: 13px auto 0 409px;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0 20px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 4px auto 0 25px;
}

.u-section-2 .u-text-9 {
  margin: -29px 20px 0 137px;
}

.u-section-2 .u-text-10 {
  margin: 0 32px 0 auto;
}

.u-section-2 .u-group-5 {
  width: 395px;
  min-height: 164px;
  height: auto;
  margin: -311px 37px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-form-1 {
  height: 53px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 46px 31px 0 15px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-input-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
}

.u-section-2 .u-form-group-2 {
  --progress: 0%;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: auto !important;
}

.u-section-2 .u-input-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  --radius: 17px;
  padding: 10px 22px 10px 21px;
}

.u-section-2 .u-group-6 {
  width: 395px;
  min-height: 164px;
  height: auto;
  margin: -7px 37px 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-form-2 {
  height: 53px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 46px 30px 0 15px;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-input-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
}

.u-section-2 .u-form-group-5 {
  --progress: 0%;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: auto !important;
}

.u-section-2 .u-input-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  --radius: 17px;
  padding: 10px 22px 10px 21px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-list-1 {
    width: 880px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-table-1 {
    width: 880px;
  }

  .u-section-2 .u-table-cell-5 {
    width: 880px;
  }

  .u-section-2 .u-table-cell-11 {
    width: 880px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-2 .u-form-1 {
    width: 365px;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-2 .u-form-2 {
    width: 365px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 660px;
  }

  .u-section-2 .u-table-1 {
    width: 660px;
  }

  .u-section-2 .u-table-cell-5 {
    width: 660px;
  }

  .u-section-2 .u-table-cell-11 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 520px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 118px;
  }

  .u-section-2 .u-table-1 {
    width: 520px;
  }

  .u-section-2 .u-table-cell-5 {
    width: 520px;
  }

  .u-section-2 .u-table-cell-11 {
    width: 520px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 334px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-2 .u-group-4 {
    margin-left: 334px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 320px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 288px;
  }

  .u-section-2 .u-group-2 {
    width: 320px;
    margin-top: -276px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-table-1 {
    width: 320px;
  }

  .u-section-2 .u-table-cell-5 {
    width: 320px;
  }

  .u-section-2 .u-table-cell-11 {
    width: 320px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 134px;
  }

  .u-section-2 .u-group-4 {
    margin-left: 134px;
  }

  .u-section-2 .u-group-5 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 320px;
  }

  .u-section-2 .u-group-6 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-form-2 {
    margin-right: 0;
    margin-left: 0;
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 852px;
}

.u-section-3 .u-group-1 {
  width: 1098px;
  min-height: 778px;
  height: auto;
  margin: 37px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 985px;
  margin: 13px auto 0 27px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 340px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-2 {
  padding: 7px 22px 0;
}

.u-section-3 .u-image-1 {
  width: 342px;
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 568px;
  min-height: 318px;
  height: auto;
  margin: -296px 8px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  margin: -16px 20px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-2 {
  margin: 13px 171px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 19px 0 0;
  padding: 5px 0;
}

.u-section-3 .u-table-1 {
  width: 971px;
  margin: 30px auto 0 27px;
}

.u-block-d407-54 {
  height: 46px;
}

.u-section-3 .u-table-cell-5 {
  width: 941px;
  margin: 8px auto 0;
}

.u-section-3 .u-table-cell-10 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-11 {
  width: 941px;
  margin: 8px auto 0;
}

.u-section-3 .u-table-cell-12 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-15 {
  font-weight: 700;
  background-image: none;
}

.u-block-d407-72 {
  height: 46px;
}

.u-section-3 .u-group-3 {
  width: 186px;
  min-height: 142px;
  height: auto;
  margin: -303px auto 0 409px;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: 4px auto 0 25px;
}

.u-section-3 .u-text-5 {
  margin: -29px 20px 0 137px;
}

.u-section-3 .u-text-6 {
  margin: 0 32px 0 auto;
}

.u-section-3 .u-group-4 {
  width: 186px;
  min-height: 142px;
  height: auto;
  margin: 13px auto 0 409px;
}

.u-section-3 .u-text-7 {
  margin: 20px auto 0 20px;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  margin: 4px auto 0 25px;
}

.u-section-3 .u-text-9 {
  margin: -29px 20px 0 137px;
}

.u-section-3 .u-text-10 {
  margin: 0 32px 0 auto;
}

.u-section-3 .u-group-5 {
  width: 395px;
  min-height: 164px;
  height: auto;
  margin: -311px 37px 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-form-1 {
  height: 53px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 46px 31px 0 15px;
}

.u-section-3 .u-form-group-1 {
  margin-left: 0;
}

.u-section-3 .u-input-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
}

.u-section-3 .u-form-group-2 {
  --progress: 0%;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: auto !important;
}

.u-section-3 .u-input-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  --radius: 17px;
  padding: 10px 22px 10px 21px;
}

.u-section-3 .u-group-6 {
  width: 395px;
  min-height: 164px;
  height: auto;
  margin: -7px 37px 0 auto;
}

.u-section-3 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-form-2 {
  height: 53px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 46px 30px 0 15px;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-input-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
}

.u-section-3 .u-form-group-5 {
  --progress: 0%;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: auto !important;
}

.u-section-3 .u-input-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  --radius: 17px;
  padding: 10px 22px 10px 21px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-list-1 {
    width: 880px;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-table-1 {
    width: 880px;
    margin-left: 0;
  }

  .u-section-3 .u-table-cell-5 {
    width: 880px;
  }

  .u-section-3 .u-table-cell-11 {
    width: 880px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-3 .u-form-1 {
    width: 365px;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-3 .u-form-2 {
    width: 365px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 660px;
  }

  .u-section-3 .u-table-1 {
    width: 660px;
  }

  .u-section-3 .u-table-cell-5 {
    width: 660px;
  }

  .u-section-3 .u-table-cell-11 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 520px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 118px;
  }

  .u-section-3 .u-table-1 {
    width: 520px;
  }

  .u-section-3 .u-table-cell-5 {
    width: 520px;
  }

  .u-section-3 .u-table-cell-11 {
    width: 520px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 334px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-3 .u-group-4 {
    margin-left: 334px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 320px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 288px;
  }

  .u-section-3 .u-group-2 {
    width: 320px;
    margin-top: -276px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-table-1 {
    width: 320px;
  }

  .u-section-3 .u-table-cell-5 {
    width: 320px;
  }

  .u-section-3 .u-table-cell-11 {
    width: 320px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 134px;
  }

  .u-section-3 .u-group-4 {
    margin-left: 134px;
  }

  .u-section-3 .u-group-5 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 320px;
  }

  .u-section-3 .u-group-6 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-3 .u-form-2 {
    margin-right: 0;
    margin-left: 0;
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 844px;
}

.u-section-4 .u-group-1 {
  width: 1098px;
  min-height: 778px;
  height: auto;
  margin: 0 auto 60px 20px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 985px;
  margin: 13px auto 0 27px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 340px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-2 {
  padding: 7px 22px 0;
}

.u-section-4 .u-image-1 {
  width: 342px;
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-2 {
  width: 568px;
  min-height: 318px;
  height: auto;
  margin: -296px 8px 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 20px 25px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  margin: -16px 20px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 13px 171px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 19px 0 0;
  padding: 5px 0;
}

.u-section-4 .u-table-1 {
  width: 971px;
  margin: 30px auto 0 27px;
}

.u-block-2d37-23 {
  height: 46px;
}

.u-section-4 .u-table-cell-5 {
  width: 941px;
  margin: 8px auto 0;
}

.u-section-4 .u-table-cell-10 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-11 {
  width: 941px;
  margin: 8px auto 0;
}

.u-section-4 .u-table-cell-12 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-15 {
  font-weight: 700;
  background-image: none;
}

.u-block-2d37-46 {
  height: 46px;
}

.u-section-4 .u-group-3 {
  width: 186px;
  min-height: 142px;
  height: auto;
  margin: -303px auto 0 409px;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0 20px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: 4px auto 0 25px;
}

.u-section-4 .u-text-5 {
  margin: -29px 20px 0 137px;
}

.u-section-4 .u-text-6 {
  margin: 0 32px 0 auto;
}

.u-section-4 .u-group-4 {
  width: 186px;
  min-height: 142px;
  height: auto;
  margin: 13px auto 0 409px;
}

.u-section-4 .u-text-7 {
  margin: 20px auto 0 20px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  margin: 4px auto 0 25px;
}

.u-section-4 .u-text-9 {
  margin: -29px 20px 0 137px;
}

.u-section-4 .u-text-10 {
  margin: 0 32px 0 auto;
}

.u-section-4 .u-group-5 {
  width: 395px;
  min-height: 164px;
  height: auto;
  margin: -311px 37px 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-form-1 {
  height: 53px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 46px 31px 0 15px;
}

.u-section-4 .u-form-group-1 {
  margin-left: 0;
}

.u-section-4 .u-input-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
}

.u-section-4 .u-form-group-2 {
  --progress: 0%;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: auto !important;
}

.u-section-4 .u-input-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  --radius: 17px;
  padding: 10px 22px 10px 21px;
}

.u-section-4 .u-group-6 {
  width: 395px;
  min-height: 164px;
  height: auto;
  margin: -7px 37px 0 auto;
}

.u-section-4 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-form-2 {
  height: 53px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: 46px 30px 0 15px;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-input-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
}

.u-section-4 .u-form-group-5 {
  --progress: 0%;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: auto !important;
}

.u-section-4 .u-input-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 10px;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  --radius: 17px;
  padding: 10px 22px 10px 21px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-4 .u-list-1 {
    width: 880px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-table-1 {
    width: 880px;
    margin-left: 0;
  }

  .u-section-4 .u-table-cell-5 {
    width: 880px;
  }

  .u-section-4 .u-table-cell-11 {
    width: 880px;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-group-5 {
    height: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-4 .u-form-1 {
    width: 365px;
  }

  .u-section-4 .u-group-6 {
    height: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-4 .u-form-2 {
    width: 365px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    width: 660px;
  }

  .u-section-4 .u-table-1 {
    width: 660px;
  }

  .u-section-4 .u-table-cell-5 {
    width: 660px;
  }

  .u-section-4 .u-table-cell-11 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-list-1 {
    width: 520px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-2 {
    width: 520px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 118px;
  }

  .u-section-4 .u-table-1 {
    width: 520px;
  }

  .u-section-4 .u-table-cell-5 {
    width: 520px;
  }

  .u-section-4 .u-table-cell-11 {
    width: 520px;
  }

  .u-section-4 .u-group-3 {
    margin-left: 334px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-group-4 {
    margin-left: 334px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 320px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 288px;
  }

  .u-section-4 .u-group-2 {
    width: 320px;
    margin-top: -276px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-table-1 {
    width: 320px;
  }

  .u-section-4 .u-table-cell-5 {
    width: 320px;
  }

  .u-section-4 .u-table-cell-11 {
    width: 320px;
  }

  .u-section-4 .u-group-3 {
    margin-left: 134px;
  }

  .u-section-4 .u-group-4 {
    margin-left: 134px;
  }

  .u-section-4 .u-group-5 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-4 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 320px;
  }

  .u-section-4 .u-group-6 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-4 .u-form-2 {
    margin-right: 0;
    margin-left: 0;
    width: 320px;
  }
}