.u-section-1 .u-sheet-1 {
  min-height: 410px;
}

.u-section-1 .u-image-1 {
  height: 417px;
  margin-top: 2px;
  margin-bottom: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 629px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 518px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px 30px 30px;
}

.u-section-2 .u-text-1 {
  width: 207px;
  margin: 118px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 259px;
  background-image: url("images/8625ef7e775fdf8fab8c50a443bbc844638847d86c693eb9d5ebfd0a8bef16d86f926d3e44c7f76cf13a419a75679bd1d8ea9ec281c3b001c9fe66_1280.jpg?rand=d884");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  min-height: 250px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  min-height: 259px;
  background-image: url("images/e48082178fd033bfc0db879f274b33804a724e13b165239ef93607fc4d135f2f10f31a2757d4862de2a7dc555ba56b723609cf19f766d4bfacbc78_1280.jpg?rand=6209");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 250px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
}

.u-section-2 .u-image-3 {
  min-height: 259px;
  background-image: url("images/28d9209353819f2e81301154443fd0dfcf2ead4cc10d71f0816ce26edcfb32df7588c510d0355b908fdcc6cdbd408ef2c12be699316711bae24413_1280.jpg?rand=38ec");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  min-height: 250px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
}

.u-section-2 .u-image-4 {
  min-height: 259px;
  background-image: url("images/c4abca5d2a7e7836f02b9a80f0968fe6cf78fc9c365a1cb06f63bc7ffa41965a9b1fefdc150621b9251fadc18f91cfd79f2c283f9d6b9ffbb75b06_1280.jpg?rand=5cc2");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-group-4 {
  min-height: 250px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-9 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-2 .u-image-1 {
    min-height: 214px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 214px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-image-3 {
    min-height: 214px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-image-4 {
    min-height: 214px;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 328px;
  }

  .u-section-2 .u-image-2 {
    min-height: 328px;
  }

  .u-section-2 .u-image-3 {
    min-height: 328px;
  }

  .u-section-2 .u-image-4 {
    min-height: 328px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2088px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 492px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-2 {
    min-height: 492px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-3 {
    min-height: 492px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-4 {
    min-height: 492px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1360px;
  }

  .u-section-2 .u-image-1 {
    min-height: 310px;
  }

  .u-section-2 .u-image-2 {
    min-height: 310px;
  }

  .u-section-2 .u-image-3 {
    min-height: 310px;
  }

  .u-section-2 .u-image-4 {
    min-height: 310px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 632px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 34px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 575px;
}

.u-section-3 .u-container-layout-1 {
  padding: 23px 0;
}

.u-section-3 .u-gallery-1 {
  height: 515px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-group-1 {
  width: 215px;
  min-height: 257px;
  height: auto;
  margin: -515px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
}

.u-section-3 .u-group-2 {
  width: 221px;
  min-height: 257px;
  height: auto;
  margin: -257px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
}

.u-section-3 .u-group-3 {
  width: 215px;
  min-height: 264px;
  height: auto;
  margin: -264px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
}

.u-section-3 .u-group-4 {
  width: 215px;
  min-height: 257px;
  height: auto;
  margin: 1px auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
}

.u-section-3 .u-group-5 {
  width: 221px;
  min-height: 258px;
  height: auto;
  margin: -258px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding-top: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  line-height: 2;
  width: 105px;
  margin: 104px auto 0;
}

.u-section-3 .u-group-6 {
  width: 215px;
  min-height: 264px;
  height: auto;
  margin: -257px 0 0 auto;
}

.u-section-3 .u-container-layout-7 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 575px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 21px;
}

.u-section-3 .u-text-7 {
  width: 210px;
  margin: 124px auto 0;
}

.u-section-3 .u-text-8 {
  width: 382px;
  margin: 63px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 474px;
  }

  .u-section-3 .u-gallery-1 {
    height: 425px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -425px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: -349px;
    height: auto;
  }

  .u-section-3 .u-group-3 {
    margin-top: -349px;
    height: auto;
  }

  .u-section-3 .u-group-4 {
    margin-top: -349px;
    height: auto;
  }

  .u-section-3 .u-group-5 {
    margin-top: -349px;
    height: auto;
  }

  .u-section-3 .u-group-6 {
    margin-top: -349px;
    height: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 474px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-3 .u-gallery-1 {
    height: 732px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-group-1 {
    margin-top: -732px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -656px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -656px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -656px;
  }

  .u-section-3 .u-group-5 {
    margin-top: -656px;
  }

  .u-section-3 .u-group-6 {
    margin-top: -656px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-8 {
    width: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3765px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-group-1 {
    margin-top: -3765px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-group-2 {
    margin-top: -3689px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-group-3 {
    margin-top: -3689px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-group-4 {
    margin-top: -3689px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-group-5 {
    margin-top: -3689px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-group-6 {
    margin-top: -3689px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2371px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -2371px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -2295px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -2295px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -2295px;
  }

  .u-section-3 .u-group-5 {
    margin-top: -2295px;
  }

  .u-section-3 .u-group-6 {
    margin-top: -2295px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 954px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 91px auto 0;
}

.u-section-4 .u-table-1 {
  width: 877px;
  margin: 71px auto 0;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-7 {
  border-style: solid;
}

.u-section-4 .u-text-2 {
  margin: -330px auto 0 175px;
}

.u-section-4 .u-text-3 {
  margin: 215px auto 60px 175px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-4 .u-table-1 {
    margin-top: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 81px;
  }

  .u-section-4 .u-table-1 {
    margin-top: 91px;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 110px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 110px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 694px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  margin: 20px 0 60px;
}

.u-section-5 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 20px 195px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 20px 195px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 20px 195px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  margin: 20px 195px 0 0;
}

.u-section-5 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-5 .u-image-1 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    height: 446px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-5 .u-image-1 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-5 .u-image-2 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-5 .u-image-3 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-5 .u-image-4 {
    height: 351px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 239px;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 239px;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 239px;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-4 {
    height: 239px;
    margin-left: initial;
  }
}