<header>
    <link rel="stylesheet" href="~/css/News.css" media="screen">
</header>
<section class="u-clearfix u-section-1" id="sec-a818">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-size-26 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-1">
                            <div class="u-expanded-width-xs u-palette-1-light-2 u-preserve-proportions u-shape u-shape-circle u-shape-1">
                                <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
                            </div>
                            <img class="u-image u-image-contain u-image-round u-radius-30 u-image-1" src="~/images/phone-2-min.png"
                                 alt="" data-image-width="406" data-image-height="718">
                        </div>
                    </div>
                    <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-34 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h5 class="u-align-left u-text u-text-default u-text-1">about us</h5>
                            <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-2">
                                Build your dream website today
                            </h2>
                            <p class="u-align-left u-text u-text-3">
                                Article evident arrived express highest men did boy. Mistress
                                sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her
                                had hearing. Law others theirs passed but wishes. You day real less till dear read.
                            </p>
                            <ul class="u-align-left u-custom-list u-text u-text-default u-text-4">
                                <li>
                                    <div class="u-list-icon u-text-palette-1-light-1">
                                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                             xml:space="preserve" class="u-svg-content">►</div>
                                    </div> Support via E-mail and Phone
                                </li>
                                <li>
                                    <div class="u-list-icon u-text-palette-1-light-1">
                                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                             xml:space="preserve" class="u-svg-content">►</div>
                                    </div>Multi-Language Support
                                </li>
                            </ul>
                            <a href="#"
                               class="u-active-black u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-1-base u-radius-50 u-btn-1">
                                read
                                more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-279c">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-size-26 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-1">
                            <div class="u-expanded-width-xs u-palette-1-light-2 u-preserve-proportions u-shape u-shape-circle u-shape-1">
                                <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
                            </div>
                            <img class="u-image u-image-contain u-image-round u-radius-30 u-image-1" src="~/images/phone-2-min.png"
                                 alt="" data-image-width="406" data-image-height="718">
                        </div>
                    </div>
                    <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-34 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h5 class="u-align-left u-text u-text-default u-text-1">about us</h5>
                            <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-2">
                                Build your dream website today
                            </h2>
                            <p class="u-align-left u-text u-text-3">
                                Article evident arrived express highest men did boy. Mistress
                                sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her
                                had hearing. Law others theirs passed but wishes. You day real less till dear read.
                            </p>
                            <ul class="u-align-left u-custom-list u-text u-text-default u-text-4">
                                <li>
                                    <div class="u-list-icon u-text-palette-1-light-1">
                                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                             xml:space="preserve" class="u-svg-content">►</div>
                                    </div> Support via E-mail and Phone
                                </li>
                                <li>
                                    <div class="u-list-icon u-text-palette-1-light-1">
                                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                             xml:space="preserve" class="u-svg-content">►</div>
                                    </div>Multi-Language Support
                                </li>
                            </ul>
                            <a href="#"
                               class="u-active-black u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-1-base u-radius-50 u-btn-1">
                                read
                                more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-3" id="sec-4383">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-size-26 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-1">
                            <div class="u-expanded-width-xs u-palette-1-light-2 u-preserve-proportions u-shape u-shape-circle u-shape-1">
                                <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
                            </div>
                            <img class="u-image u-image-contain u-image-round u-radius-30 u-image-1" src="~/images/phone-2-min.png"
                                 alt="" data-image-width="406" data-image-height="718">
                        </div>
                    </div>
                    <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-34 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h5 class="u-align-left u-text u-text-default u-text-1">about us</h5>
                            <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-2">
                                Build your dream website today
                            </h2>
                            <p class="u-align-left u-text u-text-3">
                                Article evident arrived express highest men did boy. Mistress
                                sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her
                                had hearing. Law others theirs passed but wishes. You day real less till dear read.
                            </p>
                            <ul class="u-align-left u-custom-list u-text u-text-default u-text-4">
                                <li>
                                    <div class="u-list-icon u-text-palette-1-light-1">
                                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                             xml:space="preserve" class="u-svg-content">►</div>
                                    </div> Support via E-mail and Phone
                                </li>
                                <li>
                                    <div class="u-list-icon u-text-palette-1-light-1">
                                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                             xml:space="preserve" class="u-svg-content">►</div>
                                    </div>Multi-Language Support
                                </li>
                            </ul>
                            <a href="#"
                               class="u-active-black u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-1-base u-radius-50 u-btn-1">
                                read
                                more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-4" id="sec-371d">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-size-26 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-1">
                            <div class="u-expanded-width-xs u-palette-1-light-2 u-preserve-proportions u-shape u-shape-circle u-shape-1">
                                <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
                            </div>
                            <img class="u-image u-image-contain u-image-round u-radius-30 u-image-1" src="~/images/phone-2-min.png"
                                 alt="" data-image-width="406" data-image-height="718">
                        </div>
                    </div>
                    <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-34 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h5 class="u-align-left u-text u-text-default u-text-1">about us</h5>
                            <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-2">
                                Build your dream website today
                            </h2>
                            <p class="u-align-left u-text u-text-3">
                                Article evident arrived express highest men did boy. Mistress
                                sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her
                                had hearing. Law others theirs passed but wishes. You day real less till dear read.
                            </p>
                            <ul class="u-align-left u-custom-list u-text u-text-default u-text-4">
                                <li>
                                    <div class="u-list-icon u-text-palette-1-light-1">
                                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                             xml:space="preserve" class="u-svg-content">►</div>
                                    </div> Support via E-mail and Phone
                                </li>
                                <li>
                                    <div class="u-list-icon u-text-palette-1-light-1">
                                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                             xml:space="preserve" class="u-svg-content">►</div>
                                    </div>Multi-Language Support
                                </li>
                            </ul>
                            <a href="#"
                               class="u-active-black u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-1-base u-radius-50 u-btn-1">
                                read
                                more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-5" id="sec-72f7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-size-26 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-1">
                            <div class="u-expanded-width-xs u-palette-1-light-2 u-preserve-proportions u-shape u-shape-circle u-shape-1">
                                <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
                            </div>
                            <img class="u-image u-image-contain u-image-round u-radius-30 u-image-1" src="~/images/phone-2-min.png"
                                 alt="" data-image-width="406" data-image-height="718">
                        </div>
                    </div>
                    <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-34 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h5 class="u-align-left u-text u-text-default u-text-1">about us</h5>
                            <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-2">
                                Build your dream website today
                            </h2>
                            <p class="u-align-left u-text u-text-3">
                                Article evident arrived express highest men did boy. Mistress
                                sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her
                                had hearing. Law others theirs passed but wishes. You day real less till dear read.
                            </p>
                            <ul class="u-align-left u-custom-list u-text u-text-default u-text-4">
                                <li>
                                    <div class="u-list-icon u-text-palette-1-light-1">
                                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                             xml:space="preserve" class="u-svg-content">►</div>
                                    </div> Support via E-mail and Phone
                                </li>
                                <li>
                                    <div class="u-list-icon u-text-palette-1-light-1">
                                        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                             xml:space="preserve" class="u-svg-content">►</div>
                                    </div>Multi-Language Support
                                </li>
                            </ul>
                            <a href="#"
                               class="u-active-black u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-1-base u-radius-50 u-btn-1">
                                read
                                more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>