@{
    Layout = ViewBag.Layout;
}

<header>
    <link rel="stylesheet" href="~/css/Bonding.css" media="screen">
</header>
<section class="u-border-2 u-border-grey-75 u-clearfix u-grey-10 u-section-1" id="block-10">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <a asp-area="" asp-controller="Member" asp-action="Member" data-page-id="42920733"
                   class="u-border-none u-btn u-button-style u-hover-white u-text-body-color u-white u-btn-1"
                   title="Page 1">帳戶資訊 </a>
                <a asp-area="" asp-controller="Member" asp-action="Order" data-page-id="234216684"
                   class="u-active-white u-border-2 u-border-grey-25 u-border-hover-grey-25 u-btn u-button-style u-hover-white u-text-hover-palette-4-dark-2 u-white u-btn-2"
                   title="Page2">我的訂單 </a>
                <a asp-area="" asp-controller="Member" asp-action="Bonding" data-page-id="52192971"
                   class="u-border-2 u-border-grey-25 u-border-hover-grey-25 u-btn u-button-style u-hover-palette-4-dark-2 u-palette-4-dark-2 u-text-hover-white u-btn-3"
                   title="Page3">帳戶綁定 </a>
                <a href=""
                   class="u-border-2 u-border-grey-25 u-border-hover-grey-25 u-btn u-button-style u-hover-white u-text-hover-palette-4-dark-2 u-white u-btn-4">
                    登出
                </a>
            </div>
        </div>
        <div class="u-container-style u-grey-10 u-group u-group-2">
            <div class="u-container-layout u-container-layout-2">
                <div class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-col">
                            <div class="u-container-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-1">
                                <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-3">
                                    <div class="u-container-style u-expanded-width u-grey-10 u-group u-group-3">
                                        <div class="u-container-layout u-container-layout-4">
                                            <h4 class="u-text u-text-1">
                                                <span class="u-file-icon u-icon u-icon-1">
                                                    <img src="~/images/pngegg.png"
                                                         alt="">
                                                </span>&nbsp;​LINE&nbsp;
                                            </h4>
                                            <a href=""
                                               class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-palette-1-base u-btn-5">
                                                設定<span style="font-size: 1.25rem;">
                                                    <span style="font-size: 1.875rem;"></span>
                                                </span>
                                            </a>
                                            <p class="u-text u-text-default u-text-2">
                                                說明:只要與LINE帳戶連動，使用LINE就能快速的登入，並且整合原LINE帳戶預訂的訂單資料。快來啟動吧！
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                                <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-5">
                                    <h4 class="u-text u-text-3">
                                        <span class="u-file-icon u-icon u-icon-2">
                                            <img src="~/images/pngegg1.png"
                                                 alt="">
                                        </span>&nbsp;​Facebook
                                    </h4>
                                    <a href=""
                                       class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-palette-1-base u-btn-6">
                                        設定<span style="font-size: 1.25rem;">
                                            <span style="font-size: 1.875rem;"></span>
                                        </span>
                                    </a>
                                    <p class="u-text u-text-4"> 說明:只要與Facebook帳戶連動，使用Facebook就能快速的登入，並且整合原Facebook帳戶預訂的訂單資料。快來啟動吧！</p>
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
                                <div class="u-border-2 u-border-grey-75 u-container-layout u-container-layout-6">
                                    <h4 class="u-text u-text-5">
                                        <span class="u-file-icon u-icon"><img src="~/images/2991147.png" alt=""></span>&nbsp;​&nbsp;​Google
                                    </h4>
                                    <a href=""
                                       class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-palette-1-base u-btn-7">
                                        設定<span style="font-size: 1.25rem;">
                                            <span style="font-size: 1.875rem;"></span>
                                        </span>
                                    </a>
                                    <p class="u-text u-text-6"> 說明:只要與Google帳戶連動，使用Google就能快速的登入，並且整合原Google帳戶預訂的訂單資料。快來啟動吧！</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
