@{
    Layout = ViewBag.Layout;
}

<header>
    <link rel="stylesheet" href="~/css/Member.css" media="screen">
 </header> 
 
 <section class="u-border-2 u-border-grey-75 u-clearfix u-grey-10 u-section-1" id="block-10">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
                <a asp-area="" asp-controller="Member" asp-action="Member" data-page-id="42920733" class="u-border-none u-btn u-button-style u-hover-palette-1-dark-1 u-palette-4-dark-2 u-text-body-alt-color u-btn-1" title="Login">帳戶資訊 </a>
                <a asp-area="" asp-controller="Member" asp-action="Order" data-page-id="234216684" class="u-active-white u-border-2 u-border-grey-25 u-border-hover-grey-25 u-btn u-button-style u-hover-white u-text-hover-palette-4-dark-2 u-white u-btn-2" title="Page2">我的訂單 </a>
                <a asp-area="" asp-controller="Member" asp-action="Bonding" data-page-id="52192971" class="u-border-2 u-border-grey-25 u-border-hover-grey-25 u-btn u-button-style u-hover-white u-text-hover-palette-4-dark-2 u-white u-btn-3" title="Page3">帳戶綁定 </a>
            <a href="" class="u-border-2 u-border-grey-25 u-border-hover-grey-25 u-btn u-button-style u-hover-white u-text-hover-palette-4-dark-2 u-white u-btn-4">登出 </a>
          </div>
        </div>
        <div class="u-container-style u-grey-10 u-group u-group-2">
          <div class="u-container-layout u-container-layout-2">
            <div class="u-form u-form-1">
              <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top" data-dependency="[{&quot;action&quot;:&quot;show&quot;,&quot;field&quot;:&quot;name-1&quot;,&quot;condition&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;&quot;}]">
                  <label for="name-2ef0" class="u-label">姓</label>
                  <input type="text" placeholder="Enter your Name" id="name-2ef0" name="name" class="u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top u-form-group-2">
                  <label for="name-bb01" class="u-label">名</label>
                  <input type="text" placeholder="Enter your Name" id="name-bb01" name="name-1" class="u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-label-top u-form-group-3">
                  <label for="text-0090" class="u-label">身分證字號</label>
                  <input type="text" placeholder="身分證字號" id="text-0090" name="text" class="u-input u-input-rectangle">
                </div>
                <div class="u-form-group u-form-input-layout-horizontal u-form-partition-factor-2 u-form-radiobutton u-label-top u-form-group-4">
                  <label class="u-label">性別</label>
                  <div class="u-form-radio-button-wrapper">
                    <div class="u-input-row">
                      <input id="field-efc1" type="radio" name="radiobutton" value="1" class="u-field-input" checked="checked" data-calc="1">
                      <label class="u-field-label" for="field-efc1">先生</label>
                    </div>
                    <div class="u-input-row">
                      <input id="field-b0b5" type="radio" name="radiobutton" value="2" class="u-field-input" data-calc="2">
                      <label class="u-field-label" for="field-b0b5">小姐</label>
                    </div>
                    <div class="u-input-row">
                      <input id="field-8245" type="radio" name="radiobutton" value="3" class="u-field-input" data-calc="3">
                      <label class="u-field-label" for="field-8245">中性</label>
                    </div>
                  </div>
                </div>
                <div class="u-form-email u-form-group u-form-partition-factor-2 u-label-top">
                  <label for="email-2ef0" class="u-label">Email</label>
                  <input type="email" placeholder="Enter a valid email address" id="email-2ef0" name="email" class="u-input u-input-rectangle" required="" maxlength="50">
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-label-top u-form-group-6">
                  <label for="text-83b8" class="u-label">行動電話</label>
                  <input type="text" placeholder="" id="text-83b8" name="text-1" class="u-input u-input-rectangle">
                </div>
                <div class="u-form-group u-label-top u-form-group-7">
                  <label for="text-5801" class="u-label">生日</label>
                  <input type="text" placeholder="" id="text-5801" name="text-2" class="u-input u-input-rectangle">
                </div>
                <p class="u-form-group u-form-text u-label-top u-text u-text-1">國籍城市 </p>
                <div class="u-form-group u-form-partition-factor-2 u-form-select u-label-top u-form-group-9">
                  <label for="select-796a" class="u-form-control-hidden u-label"></label>
                  <div class="u-form-select-wrapper">
                    <select id="select-796a" name="select" class="u-input u-input-rectangle">
                      <option value="1" data-calc="1">台灣</option>
                      <option value="2" data-calc="2">日本</option>
                      <option value="3" data-calc="3">韓國</option>
                    </select>
                    <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                  </div>
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-form-select u-label-top u-form-group-10">
                  <label for="select-9430" class="u-form-control-hidden u-label"></label>
                  <div class="u-form-select-wrapper">
                    <select id="select-9430" name="select-1" class="u-input u-input-rectangle">
                      <option value="0" data-calc="0">選擇縣市</option>
                      <option value="1" data-calc="1">臺北市</option>
                      <option value="2" data-calc="2">台中市</option>
                      <option data-calc="3" value="3">高雄市</option>
                    </select>
                    <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                  </div>
                </div>
                <div class="u-align-center u-form-group u-form-submit u-label-top">
                  <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-hover-custom-color-13 u-palette-4-dark-2 u-btn-5">儲存 </a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  
  <section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-6" id="popup-5f95">
      <div class="u-container-style u-dialog u-white u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
          <div class="custom-expanded u-tab-links-align-center u-tabs u-tabs-1">
            <ul class="u-border-2 u-border-grey-75 u-tab-list u-unstyled u-tab-list-1" role="tablist"><li class="u-tab-item" role="presentation"><a class="active u-button-style u-hover-white u-tab-link u-text-black u-text-hover-palette-4-dark-2" id="link-tab-d9e9" href="#tab-d9e9" role="tab" aria-controls="tab-d9e9" aria-selected="true">Login</a>
</li><li class="u-tab-item" role="presentation"><a class="u-button-style u-hover-white u-tab-link u-text-black u-text-hover-palette-4-dark-2" id="link-tab-6a93" href="#tab-6a93" role="tab" aria-controls="tab-6a93" aria-selected="false">Register</a>
</li><li class="u-tab-item" role="presentation"><a class="u-button-style u-hover-white u-tab-link u-text-black u-text-hover-palette-4-dark-2" id="link-tab-c5ee" href="#tab-c5ee" role="tab" aria-controls="tab-c5ee" aria-selected="false">非會員訂房</a>
</li></ul>
            <div class="u-tab-content">
              <div class="u-container-style u-tab-active u-tab-pane" id="tab-d9e9" role="tabpanel" aria-labelledby="link-tab-d9e9">
                <div class="u-container-layout u-container-layout-2">
                  <div class="u-form u-form-1">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-1" style="padding: 10px;">
                      <div class="u-form-group u-form-name u-label-none">
                        <label for="name-1239" class="u-label">Name</label>
                        <input type="text" placeholder="使用者帳號" id="name-1239" name="User" class="u-input u-input-rectangle" required="required">
                      </div>
                      <div class="u-form-group u-form-name u-label-none u-form-group-2">
                        <label for="name-dc16" class="u-label">Name</label>
                        <input type="text" placeholder="密碼" id="name-dc16" name="password" class="u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-align-left u-form-group u-form-submit u-label-none">
                        <a href="#" class="u-btn u-btn-submit u-button-style u-btn-1">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                    </form>
                  </div>
                  <a href="" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-palette-1-base u-btn-2">忘記密碼? </a>
                </div>
              </div>
              <div class="u-container-style u-tab-pane" id="tab-6a93" role="tabpanel" aria-labelledby="link-tab-6a93">
                <div class="u-container-layout u-container-layout-3">
                  <div class="u-form u-form-2">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-2" style="padding: 10px;">
                      <div class="u-form-group u-form-name u-label-none">
                        <label for="name-a1f6" class="u-label">Name</label>
                        <input type="text" placeholder="姓" id="name-a1f6" name="lastNum" class="u-input u-input-rectangle u-input-3" required="">
                      </div>
                      <div class="u-form-group u-form-name u-label-none u-form-group-5">
                        <label for="name-0ae6" class="u-label">Name</label>
                        <input type="text" placeholder="名" id="name-0ae6" name="num" class="u-input u-input-rectangle u-input-4" required="">
                      </div>
                      <div class="u-form-email u-form-group u-label-none u-form-group-6">
                        <label for="email-c271" class="u-label">Email</label>
                        <input type="email" placeholder="您登入的帳號" id="email-c271" name="email" class="u-input u-input-rectangle u-input-5" required="">
                      </div>
                      <div class="u-form-group u-form-phone u-label-none u-form-group-7">
                        <label for="phone-d4f0" class="u-label">Phone</label>
                        <input type="tel" pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="行動電話:0912345678/+8869112345678" id="phone-d4f0" name="phone" class="u-input u-input-rectangle u-input-6" required="">
                      </div>
                      <div class="u-form-group u-label-none u-form-group-8">
                        <label for="text-f6cd" class="u-label">Input</label>
                        <input type="text" id="text-f6cd" name="password" class="u-input u-input-rectangle u-input-7" placeholder="密碼:要有英文字母，至少8個字母，至少一個數字">
                      </div>
                      <p class="u-custom-font u-form-group u-form-partition-factor-2 u-form-text u-heading-font u-text u-text-1">生日 </p>
                      <div class="u-form-date u-form-group u-form-partition-factor-2 u-label-none u-form-group-10">
                        <label for="date-11a4" class="u-label u-label-8">Date</label>
                        <input type="text" placeholder="MM/DD/YYYY" id="date-11a4" name="date" class="u-input u-input-rectangle u-input-8" required="" data-date-format="mm/dd/yyyy">
                      </div>
                      <div class="u-align-center u-form-group u-form-submit u-label-none">
                        <a href="#" class="u-btn u-btn-submit u-button-style u-btn-3">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                    </form>
                  </div>
                </div>
              </div>
              <div class="u-container-style u-tab-pane" id="tab-c5ee" role="tabpanel" aria-labelledby="link-tab-c5ee">
                <div class="u-container-layout u-container-layout-4">
                  <div class="u-form u-form-3">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-3" style="padding: 10px;">
                      <div class="u-form-group u-form-name u-label-none">
                        <label for="name-3020" class="u-label">Name</label>
                        <input type="text" placeholder="訂單編號" id="name-3020" name="order_num" class="u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-label-none">
                        <label for="email-3020" class="u-label">Email</label>
                        <input type="text" placeholder="訂房者:手機/電話" id="email-3020" name="order_iphone" class="u-input u-input-rectangle" required="required">
                      </div>
                      <div class="u-form-email u-form-group u-label-none u-form-group-14">
                        <label for="email-6cec" class="u-label">Email</label>
                        <input type="email" placeholder="訂房者:Email" id="email-6cec" name="email" class="u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-align-left u-form-group u-form-submit u-label-none">
                        <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efe9"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9"><rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect><rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect></svg></button>
      </div>
    </section><style>.u-dialog-section-6 .u-dialog-1 {
  width: 700px;
  min-height: 512px;
  height: auto;
  margin: 243px auto 60px calc(((100% - 1140px) / 2)  + 161px);
}

.u-dialog-section-6 .u-container-layout-1 {
  padding: 1px 0 0;
}

.u-dialog-section-6 .u-tabs-1 {
  min-height: 503px;
  height: auto;
  width: 685px;
  margin: 7px 0 0 auto;
}

.u-dialog-section-6 .u-tab-list-1 {
  background-image: none;
}

.u-dialog-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-dialog-section-6 .u-form-1 {
  height: 188px;
  width: 449px;
  margin: 44px auto 0;
}

.u-dialog-section-6 .u-form-group-2 {
  margin-left: 0;
}

.u-dialog-section-6 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-dialog-section-6 .u-btn-2 {
  border-style: solid;
  margin: -47px 110px 0 auto;
  padding: 0;
}

.u-dialog-section-6 .u-container-layout-3 {
  padding: 0 30px;
}

.u-dialog-section-6 .u-form-2 {
  height: 417px;
  width: 368px;
  margin: 0 auto;
}

.u-dialog-section-6 .u-input-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-dialog-section-6 .u-form-group-5 {
  margin-left: 0;
}

.u-dialog-section-6 .u-input-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-dialog-section-6 .u-form-group-6 {
  margin-left: 0;
}

.u-dialog-section-6 .u-input-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-dialog-section-6 .u-form-group-7 {
  margin-left: 0;
}

.u-dialog-section-6 .u-input-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-dialog-section-6 .u-form-group-8 {
  margin-left: 0;
}

.u-dialog-section-6 .u-input-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-dialog-section-6 .u-text-1 {
  letter-spacing: 7px;
  margin-right: auto;
}

.u-dialog-section-6 .u-form-group-10 {
  margin-left: 0;
}

.u-dialog-section-6 .u-label-8 {
  margin-left: 0;
}

.u-dialog-section-6 .u-input-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-dialog-section-6 .u-btn-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-dialog-section-6 .u-container-layout-4 {
  padding: 19px 30px;
}

.u-dialog-section-6 .u-form-3 {
  height: 414px;
  width: 570px;
  margin: 0 auto;
}

.u-dialog-section-6 .u-form-group-14 {
  margin-left: 0;
}

.u-dialog-section-6 .u-icon-1 {
  width: 20px;
  height: 20px;
}

@@media (max-width: 1199px) {
  .u-dialog-section-6 .u-dialog-1 {
    margin-left: calc(((100% - 940px) / 2) + 161px);
  }

  .u-dialog-section-6 .u-tabs-1 {
    width: 685px;
    margin-right: 0;
  }

  .u-dialog-section-6 .u-form-1 {
    width: 570px;
  }

  .u-dialog-section-6 .u-btn-2 {
    margin-top: -47px;
    margin-right: 110px;
  }

  .u-dialog-section-6 .u-form-2 {
    width: 570px;
  }

  .u-dialog-section-6 .u-text-1 {
    margin-left: 0;
  }
}

@@media (max-width: 991px) {
  .u-dialog-section-6 .u-dialog-1 {
    margin-left: calc(((100% - 720px) / 2) + 20px);
  }
}

@@media (max-width: 767px) {
  .u-dialog-section-6 .u-dialog-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-dialog-section-6 .u-tabs-1 {
    width: 540px;
  }

  .u-dialog-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-dialog-section-6 .u-form-1 {
    width: 500px;
  }

  .u-dialog-section-6 .u-btn-2 {
    margin-right: 5px;
  }

  .u-dialog-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-dialog-section-6 .u-form-2 {
    width: 500px;
  }

  .u-dialog-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-dialog-section-6 .u-form-3 {
    width: 520px;
  }
}

@@media (max-width: 575px) {
  .u-dialog-section-6 .u-dialog-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-dialog-section-6 .u-tabs-1 {
    width: 340px;
  }

  .u-dialog-section-6 .u-form-1 {
    width: 320px;
  }

  .u-dialog-section-6 .u-btn-2 {
    margin-right: 0;
  }

  .u-dialog-section-6 .u-form-2 {
    width: 300px;
  }

  .u-dialog-section-6 .u-form-3 {
    width: 320px;
  }
}</style>