@{
    Layout = ViewBag.Layout;
}

    <div class="wrapper wrapper-content" style="width: 100%; max-width: 1000px;">
        <!-- 房間作業內容 -->
        <div id="content-room">
            <div class="ibox-title">
                <h5 class="ibox-title-name">房間作業</h5>
            </div>
            <div class="ibox-content">
                <div id="table-container" style="max-height: 600px; overflow-y: auto;">
                    <table id="myTable" class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th>修改</th>
                                <th>刪除</th>
                                <th>編號</th>
                                <th>名稱</th>
                                <th>樓層</th>
                                <th>房間號碼</th>
                                <th>床型</th>
                                <th>價錢</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 資料列將由 JS 動態插入 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script>
        const getByIdRoomBaseUrl = '@Url.Action("GetByIdRoom", "Root")';
    </script>
    <script src="~/js/RootInfinite.js"></script>
}