@{
    Layout = ViewBag.Layout;
}

<header>
    <link rel="stylesheet" href="~/css/Booking.css" media="screen">
</header>

<section class="u-clearfix u-section-1" id="block-6">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-form u-form-1">
            <form action="https://forms.nicepagesrv.com/v2/form/process"
                  class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="email" name="form"
                  style="padding: 10px;">
                <div class="u-form-date u-form-group u-form-partition-factor-4 u-label-top u-form-group-1">
                    <label for="date-7e40" class="u-label">入住日期</label>
                    <input type="text" placeholder="YYYY/MM/DD" id="date-7e40" name="ClickIn" class="u-input u-input-rectangle"
                           required="required" data-date-format="yyyy/mm/dd">
                </div>
                <div class="u-form-date u-form-group u-form-partition-factor-4 u-label-top u-form-group-2">
                    <label for="date-c1cd" class="u-label">退房日期</label>
                    <input type="text" placeholder="YYYY/MM/DD" id="date-c1cd" name="ClickOut" class="u-input u-input-rectangle"
                           required="" data-date-format="yyyy/mm/dd">
                </div>
                <div class="u-form-group u-form-partition-factor-4 u-form-select u-label-top u-form-group-3">
                    <label for="select-43bb" class="u-label">Dropdown</label>
                    <div class="u-form-select-wrapper">
                        <select id="select-43bb" name="select" class="u-input u-input-rectangle">
                            <option data-calc="0" value="0">不分人數</option>
                            <option value="1" data-calc="1">1人房</option>
                            <option value="2" data-calc="2">2人房</option>
                            <option value="3" data-calc="3">3人房</option>
                            <option data-calc="4" value="4">4人房</option>
                            <option data-calc="5" value="5">5人房</option>
                            <option data-calc="6" value="6">6人房</option>
                            <option data-calc="7" value="7">7人房</option>
                            <option data-calc="8" value="8">8人房</option>
                            <option data-calc="9" value="9">8人房以上</option>
                        </select>
                        <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px"
                             viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve">
                        <polygon class="st0" points="8,12 2,4 14,4 "></polygon>
              </svg>
                    </div>
                </div>
                <div class="u-align-center u-form-group u-form-submit u-label-top">
                    <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message">
                    Unable to send your message. Please fix errors then try
                    again.
                </div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
            </form>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="block-10">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-2 u-border-grey-75 u-container-style u-group u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <div class="custom-expanded u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                        <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
                            <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2">
                                <img alt="" class="custom-expanded u-image u-image-default u-image-1" data-image-width="2000"
                                     data-image-height="1333" src="~/images/90fc53c9.svg">
                                <div class="custom-expanded u-container-style u-group u-group-2">
                                    <div class="u-container-layout u-container-layout-3">
                                        <h4 class="u-text u-text-1"> 標準雙人房</h4>
                                        <a href="#popup-3ef3"
                                           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-dialog-link u-none u-text-palette-1-base u-btn-1">
                                            客房設施介紹
                                        </a>
                                        <p class="u-text u-text-2">
                                            <b style="">人數限制：</b>2人&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<b>房間坪數：</b>4坪<br>
                                            <br><b>房間床型：</b>一大床<b>房間地板：</b>超耐磨木紋地板<b>房間窗戶：</b>有窗戶床型尺寸：150公分x188公分房價已包含每房每晚服務費及稅金。
                                        </p>
                                        <a href=""
                                           class="u-border-1 u-border-black u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-text-hover-palette-2-base u-btn-2">
                                            更都內容
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-align-center u-table u-table-responsive u-table-1">
                    <table class="u-table-entity">
                        <colgroup>
                            <col width="36.7%">
                            <col width="22.3%">
                            <col width="15.4%">
                            <col width="13.9%">
                            <col width="11.7%">
                        </colgroup>
                        <tbody class="u-table-body">
                            <tr style="height: 47px;">
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 優惠內容</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 每晚均價</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell">入住日期 </td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 房間數</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-5"> 總價</td>
                            </tr>
                            <tr style="height: 154px;">
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 商務二小床房/【不可取消專案】附贈早餐</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-10"></td>
                            </tr>
                            <tr style="height: 157px;">
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-11"> 商務二小床房/【一般訂房】附贈早餐</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-12"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-15"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="u-container-style u-group u-group-3">
                    <div class="u-container-layout">
                        <p class="u-text u-text-default u-text-3">
                            <span class="u-file-icon u-icon"><img src="~/images/2645890.png" alt=""></span>&nbsp;​本日最低價
                        </p>
                        <p class="u-text u-text-default u-text-palette-2-base u-text-4"> NT$ 3,999</p>
                        <p class="u-text u-text-default u-text-5">元</p>
                        <p class="u-text u-text-default u-text-6"> 含稅及服務費</p>
                    </div>
                </div>
                <div class="u-container-style u-group u-group-4">
                    <div class="u-container-layout">
                        <p class="u-text u-text-default u-text-7">
                            <span class="u-file-icon u-icon"><img src="~/images/2645890.png" alt=""></span>&nbsp;​本日最低價
                        </p>
                        <p class="u-text u-text-default u-text-palette-2-base u-text-8"> NT$ 3,999</p>
                        <p class="u-text u-text-default u-text-9">元</p>
                        <p class="u-text u-text-default u-text-10"> 含稅及服務費</p>
                    </div>
                </div>
                <div class="u-container-style u-group u-group-5">
                    <div class="u-container-layout u-container-layout-6">
                        <div class="u-form u-form-1">
                            <form action="https://forms.nicepagesrv.com/v2/form/process"
                                  class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="email" name="form-1"
                                  style="padding: 3px;">
                                <div class="u-form-date u-form-group u-label-none u-form-group-1">
                                    <label for="date-254b" class="u-label">Date</label>
                                    <input type="text" placeholder="YYYY/MM/DD" id="date-254b" name="date"
                                           class="u-border-none u-input u-input-rectangle u-radius u-input-1" data-date-format="yyyy/mm/dd"
                                           required="required">
                                </div>
                                <div class="u-form-group u-form-number u-form-number-layout-number u-label-none u-form-group-2">
                                    <label for="number-8a57" class="u-label">Number Input</label>
                                    <div class="u-input-row" data-value="0">
                                        <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-8a57"
                                               name="number" class="u-input u-input-rectangle u-radius u-text-black u-input-2">
                                    </div>
                                </div>
                                <div class="u-align-center u-form-group u-form-submit u-label-none">
                                    <input type="submit" value="submit" class="u-form-control-hidden">
                                    <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-14 u-radius u-btn-3"
                                       data-dependency="[{&quot;action&quot;:&quot;hide&quot;,&quot;field&quot;:&quot;date&quot;,&quot;condition&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;&quot;}]">訂房</a>
                                </div>
                                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                                <div class="u-form-send-error u-form-send-message">
                                    Unable to send your message. Please fix errors
                                    then try again.
                                </div>
                                <input type="hidden" value="" name="recaptchaResponse">
                                <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-group u-group-6">
                    <div class="u-container-layout u-container-layout-7">
                        <div class="u-form u-form-2">
                            <form action="https://forms.nicepagesrv.com/v2/form/process"
                                  class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="email" name="form-1"
                                  style="padding: 3px;">
                                <div class="u-form-date u-form-group u-label-none u-form-group-4">
                                    <label for="date-254b" class="u-label">Date</label>
                                    <input type="text" placeholder="YYYY/MM/DD" id="date-254b" name="date"
                                           class="u-border-none u-input u-input-rectangle u-radius u-input-3" data-date-format="yyyy/mm/dd"
                                           required="required">
                                </div>
                                <div class="u-form-group u-form-number u-form-number-layout-number u-label-none u-form-group-5">
                                    <label for="number-8a57" class="u-label">Number Input</label>
                                    <div class="u-input-row" data-value="0">
                                        <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-8a57"
                                               name="number" class="u-input u-input-rectangle u-radius u-text-black u-input-4">
                                    </div>
                                </div>
                                <div class="u-align-center u-form-group u-form-submit u-label-none">
                                    <input type="submit" value="submit" class="u-form-control-hidden">
                                    <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-14 u-radius u-btn-4"
                                       data-dependency="[{&quot;action&quot;:&quot;hide&quot;,&quot;field&quot;:&quot;date&quot;,&quot;condition&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;&quot;}]">訂房</a>
                                </div>
                                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                                <div class="u-form-send-error u-form-send-message">
                                    Unable to send your message. Please fix errors
                                    then try again.
                                </div>
                                <input type="hidden" value="" name="recaptchaResponse">
                                <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-section-3" id="block-8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-border-2 u-border-grey-75 u-container-style u-group u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <div class="custom-expanded u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                        <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
                            <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2">
                                <img alt="" class="custom-expanded u-image u-image-default u-image-1" data-image-width="2000"
                                     data-image-height="1333" src="~/images/90fc53c9.svg">
                                <div class="custom-expanded u-container-style u-group u-group-2">
                                    <div class="u-container-layout u-container-layout-3">
                                        <h4 class="u-text u-text-1"> 標準雙人房</h4>
                                        <a href="#popup-3ef3"
                                           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-dialog-link u-none u-text-palette-1-base u-btn-1">
                                            客房設施介紹
                                        </a>
                                        <p class="u-text u-text-2">
                                            <b style="">人數限制：</b>2人&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<b>房間坪數：</b>4坪<br>
                                            <br><b>房間床型：</b>一大床<b>房間地板：</b>超耐磨木紋地板<b>房間窗戶：</b>有窗戶床型尺寸：150公分x188公分房價已包含每房每晚服務費及稅金。
                                        </p>
                                        <a href=""
                                           class="u-border-1 u-border-black u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-text-hover-palette-2-base u-btn-2">
                                            更都內容
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-table u-table-responsive u-table-1">
                    <table class="u-table-entity">
                        <colgroup>
                            <col width="36.7%">
                            <col width="22.3%">
                            <col width="15.4%">
                            <col width="13.9%">
                            <col width="11.7%">
                        </colgroup>
                        <tbody class="u-table-body">
                            <tr style="height: 47px;">
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 優惠內容</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 每晚均價</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell">入住日期 </td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 房間數</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-5"> 總價</td>
                            </tr>
                            <tr style="height: 154px;">
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 商務二小床房/【不可取消專案】附贈早餐</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-10"></td>
                            </tr>
                            <tr style="height: 157px;">
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-11"> 商務二小床房/【一般訂房】附贈早餐</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-12"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-15"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="u-container-style u-group u-group-3">
                    <div class="u-container-layout">
                        <p class="u-text u-text-default u-text-3">
                            <span class="u-file-icon u-icon"><img src="~/images/2645890.png" alt=""></span>&nbsp;​本日最低價
                        </p>
                        <p class="u-text u-text-default u-text-palette-2-base u-text-4"> NT$ 3,999</p>
                        <p class="u-text u-text-default u-text-5">元</p>
                        <p class="u-text u-text-default u-text-6"> 含稅及服務費</p>
                    </div>
                </div>
                <div class="u-container-style u-group u-group-4">
                    <div class="u-container-layout">
                        <p class="u-text u-text-default u-text-7">
                            <span class="u-file-icon u-icon"><img src="~/images/2645890.png" alt=""></span>&nbsp;​本日最低價
                        </p>
                        <p class="u-text u-text-default u-text-palette-2-base u-text-8"> NT$ 3,999</p>
                        <p class="u-text u-text-default u-text-9">元</p>
                        <p class="u-text u-text-default u-text-10"> 含稅及服務費</p>
                    </div>
                </div>
                <div class="u-container-style u-group u-group-5">
                    <div class="u-container-layout u-container-layout-6">
                        <div class="u-form u-form-1">
                            <form action="https://forms.nicepagesrv.com/v2/form/process"
                                  class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="email" name="form-1"
                                  style="padding: 3px;">
                                <div class="u-form-date u-form-group u-label-none u-form-group-1">
                                    <label for="date-254b" class="u-label">Date</label>
                                    <input type="text" placeholder="YYYY/MM/DD" id="date-254b" name="date"
                                           class="u-border-none u-input u-input-rectangle u-radius u-input-1" data-date-format="yyyy/mm/dd"
                                           required="required">
                                </div>
                                <div class="u-form-group u-form-number u-form-number-layout-number u-label-none u-form-group-2">
                                    <label for="number-8a57" class="u-label">Number Input</label>
                                    <div class="u-input-row" data-value="0">
                                        <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-8a57"
                                               name="number" class="u-input u-input-rectangle u-radius u-text-black u-input-2">
                                    </div>
                                </div>
                                <div class="u-align-center u-form-group u-form-submit u-label-none">
                                    <input type="submit" value="submit" class="u-form-control-hidden">
                                    <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-14 u-radius u-btn-3"
                                       data-dependency="[{&quot;action&quot;:&quot;hide&quot;,&quot;field&quot;:&quot;date&quot;,&quot;condition&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;&quot;}]">訂房</a>
                                </div>
                                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                                <div class="u-form-send-error u-form-send-message">
                                    Unable to send your message. Please fix errors
                                    then try again.
                                </div>
                                <input type="hidden" value="" name="recaptchaResponse">
                                <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-group u-group-6">
                    <div class="u-container-layout u-container-layout-7">
                        <div class="u-form u-form-2">
                            <form action="https://forms.nicepagesrv.com/v2/form/process"
                                  class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="email" name="form-1"
                                  style="padding: 3px;">
                                <div class="u-form-date u-form-group u-label-none u-form-group-4">
                                    <label for="date-254b" class="u-label">Date</label>
                                    <input type="text" placeholder="YYYY/MM/DD" id="date-254b" name="date"
                                           class="u-border-none u-input u-input-rectangle u-radius u-input-3" data-date-format="yyyy/mm/dd"
                                           required="required">
                                </div>
                                <div class="u-form-group u-form-number u-form-number-layout-number u-label-none u-form-group-5">
                                    <label for="number-8a57" class="u-label">Number Input</label>
                                    <div class="u-input-row" data-value="0">
                                        <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-8a57"
                                               name="number" class="u-input u-input-rectangle u-radius u-text-black u-input-4">
                                    </div>
                                </div>
                                <div class="u-align-center u-form-group u-form-submit u-label-none">
                                    <input type="submit" value="submit" class="u-form-control-hidden">
                                    <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-14 u-radius u-btn-4"
                                       data-dependency="[{&quot;action&quot;:&quot;hide&quot;,&quot;field&quot;:&quot;date&quot;,&quot;condition&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;&quot;}]">訂房</a>
                                </div>
                                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                                <div class="u-form-send-error u-form-send-message">
                                    Unable to send your message. Please fix errors
                                    then try again.
                                </div>
                                <input type="hidden" value="" name="recaptchaResponse">
                                <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-4" id="block-9">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-2 u-border-grey-75 u-container-style u-group u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <div class="custom-expanded u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                        <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
                            <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2">
                                <img alt="" class="custom-expanded u-image u-image-default u-image-1" data-image-width="2000"
                                     data-image-height="1333" src="~/images/90fc53c9.svg">
                                <div class="custom-expanded u-container-style u-group u-group-2">
                                    <div class="u-container-layout u-container-layout-3">
                                        <h4 class="u-text u-text-1"> 標準雙人房</h4>
                                        <a href="#popup-3ef3"
                                           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-dialog-link u-none u-text-palette-1-base u-btn-1">
                                            客房設施介紹
                                        </a>
                                        <p class="u-text u-text-2">
                                            <b style="">人數限制：</b>2人&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<b>房間坪數：</b>4坪<br>
                                            <br><b>房間床型：</b>一大床<b>房間地板：</b>超耐磨木紋地板<b>房間窗戶：</b>有窗戶床型尺寸：150公分x188公分房價已包含每房每晚服務費及稅金。
                                        </p>
                                        <a href=""
                                           class="u-border-1 u-border-black u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-text-hover-palette-2-base u-btn-2">
                                            更都內容
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-table u-table-responsive u-table-1">
                    <table class="u-table-entity">
                        <colgroup>
                            <col width="36.7%">
                            <col width="22.3%">
                            <col width="15.4%">
                            <col width="13.9%">
                            <col width="11.7%">
                        </colgroup>
                        <tbody class="u-table-body">
                            <tr style="height: 47px;">
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 優惠內容</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 每晚均價</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell">入住日期 </td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 房間數</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-5"> 總價</td>
                            </tr>
                            <tr style="height: 154px;">
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 商務二小床房/【不可取消專案】附贈早餐</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-10"></td>
                            </tr>
                            <tr style="height: 157px;">
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-11"> 商務二小床房/【一般訂房】附贈早餐</td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-12"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-15"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="u-container-style u-group u-group-3">
                    <div class="u-container-layout">
                        <p class="u-text u-text-default u-text-3">
                            <span class="u-file-icon u-icon"><img src="~/images/2645890.png" alt=""></span>&nbsp;​本日最低價
                        </p>
                        <p class="u-text u-text-default u-text-palette-2-base u-text-4"> NT$ 3,999</p>
                        <p class="u-text u-text-default u-text-5">元</p>
                        <p class="u-text u-text-default u-text-6"> 含稅及服務費</p>
                    </div>
                </div>
                <div class="u-container-style u-group u-group-4">
                    <div class="u-container-layout">
                        <p class="u-text u-text-default u-text-7">
                            <span class="u-file-icon u-icon"><img src="~/images/2645890.png" alt=""></span>&nbsp;​本日最低價
                        </p>
                        <p class="u-text u-text-default u-text-palette-2-base u-text-8"> NT$ 3,999</p>
                        <p class="u-text u-text-default u-text-9">元</p>
                        <p class="u-text u-text-default u-text-10"> 含稅及服務費</p>
                    </div>
                </div>
                <div class="u-container-style u-group u-group-5">
                    <div class="u-container-layout u-container-layout-6">
                        <div class="u-form u-form-1">
                            <form action="https://forms.nicepagesrv.com/v2/form/process"
                                  class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="email" name="form-1"
                                  style="padding: 3px;">
                                <div class="u-form-date u-form-group u-label-none u-form-group-1">
                                    <label for="date-254b" class="u-label">Date</label>
                                    <input type="text" placeholder="YYYY/MM/DD" id="date-254b" name="date"
                                           class="u-border-none u-input u-input-rectangle u-radius u-input-1" data-date-format="yyyy/mm/dd"
                                           required="required">
                                </div>
                                <div class="u-form-group u-form-number u-form-number-layout-number u-label-none u-form-group-2">
                                    <label for="number-8a57" class="u-label">Number Input</label>
                                    <div class="u-input-row" data-value="0">
                                        <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-8a57"
                                               name="number" class="u-input u-input-rectangle u-radius u-text-black u-input-2">
                                    </div>
                                </div>
                                <div class="u-align-center u-form-group u-form-submit u-label-none">
                                    <input type="submit" value="submit" class="u-form-control-hidden">
                                    <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-14 u-radius u-btn-3"
                                       data-dependency="[{&quot;action&quot;:&quot;hide&quot;,&quot;field&quot;:&quot;date&quot;,&quot;condition&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;&quot;}]">訂房</a>
                                </div>
                                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                                <div class="u-form-send-error u-form-send-message">
                                    Unable to send your message. Please fix errors
                                    then try again.
                                </div>
                                <input type="hidden" value="" name="recaptchaResponse">
                                <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-group u-group-6">
                    <div class="u-container-layout u-container-layout-7">
                        <div class="u-form u-form-2">
                            <form action="https://forms.nicepagesrv.com/v2/form/process"
                                  class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="email" name="form-1"
                                  style="padding: 3px;">
                                <div class="u-form-date u-form-group u-label-none u-form-group-4">
                                    <label for="date-254b" class="u-label">Date</label>
                                    <input type="text" placeholder="YYYY/MM/DD" id="date-254b" name="date"
                                           class="u-border-none u-input u-input-rectangle u-radius u-input-3" data-date-format="yyyy/mm/dd"
                                           required="required">
                                </div>
                                <div class="u-form-group u-form-number u-form-number-layout-number u-label-none u-form-group-5">
                                    <label for="number-8a57" class="u-label">Number Input</label>
                                    <div class="u-input-row" data-value="0">
                                        <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-8a57"
                                               name="number" class="u-input u-input-rectangle u-radius u-text-black u-input-4">
                                    </div>
                                </div>
                                <div class="u-align-center u-form-group u-form-submit u-label-none">
                                    <input type="submit" value="submit" class="u-form-control-hidden">
                                    <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-14 u-radius u-btn-4"
                                       data-dependency="[{&quot;action&quot;:&quot;hide&quot;,&quot;field&quot;:&quot;date&quot;,&quot;condition&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;&quot;}]">訂房</a>
                                </div>
                                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                                <div class="u-form-send-error u-form-send-message">
                                    Unable to send your message. Please fix errors
                                    then try again.
                                </div>
                                <input type="hidden" value="" name="recaptchaResponse">
                                <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<span style="height: 64px; width: 64px; margin-left: 0px; margin-right: auto; margin-top: 0px; background-image: none; right: 20px; bottom: 20px; padding: 15px"
                class="u-back-to-top u-icon u-icon-circle u-opacity u-opacity-85 u-palette-1-base" data-href="#">
    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1d98"></use>
    </svg>
    <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13"
         xmlns="http://www.w3.org/2000/svg" id="svg-1d98">
        <path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path>
    </svg>
</span>
<section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-8"
         id="popup-3ef3">
    <div class="u-align-center u-container-style u-dialog u-white u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
            <div class="u-container-style u-expanded-width u-group u-palette-1-light-3 u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h4 class="u-text u-text-default u-text-palette-1-dark-1 u-text-1"> 房間設施</h4>
                </div>
            </div>
            <div class="u-container-style u-group u-group-2">
                <div class="u-container-layout">
                    <span class="u-file-icon u-icon u-icon-1"><img src="~/images/13936.png" alt=""></span>
                    <p class="u-text u-text-default u-text-2"> 電話</p>
                </div>
            </div>
            <div class="u-container-style u-group u-group-3">
                <div class="u-container-layout">
                    <span class="u-file-icon u-icon u-icon-2"><img src="~/images/240745.png" alt=""></span>
                    <p class="u-text u-text-default u-text-3"> 淋浴</p>
                </div>
            </div>
            <div class="u-container-style u-group u-group-4">
                <div class="u-container-layout">
                    <span class="u-file-icon u-icon u-icon-3"><img src="~/images/10115194.png" alt=""></span>
                    <p class="u-text u-text-default u-text-4"> 吹風機</p>
                </div>
            </div>
            <div class="u-container-style u-group u-group-5">
                <div class="u-container-layout">
                    <span class="u-file-icon u-icon u-icon-4"><img src="~/images/2502273.png" alt=""></span>
                    <p class="u-text u-text-default u-text-5"> 冷氣</p>
                </div>
            </div>
            <div class="u-container-style u-group u-group-6">
                <div class="u-container-layout">
                    <span class="u-file-icon u-icon u-icon-5"><img src="~/images/1961094.png" alt=""></span>
                    <p class="u-text u-text-default u-text-6"> 冷氣</p>
                </div>
            </div>
            <div class="u-container-style u-group u-group-7">
                <div class="u-container-layout">
                    <span class="u-file-icon u-icon u-icon-6"><img src="~/images/2859724.png" alt=""></span>
                    <p class="u-text u-text-default u-text-7"> 上網設備</p>
                </div>
            </div>
            <div class="u-container-style u-group u-group-8">
                <div class="u-container-layout">
                    <span class="u-file-icon u-icon u-icon-7"><img src="~/images/1961265.png" alt=""></span>
                    <p class="u-text u-text-default u-text-8">煮水壺 </p>
                </div>
            </div>
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-8">
            <svg class="u-svg-link"
                 preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efe9"></use>
            </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                       xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9">
            <rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16">
          </rect>
            <rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2">
          </rect>
        </svg>
        </button>
    </div>
</section>
<style>
    .u-dialog-section-8 .u-dialog-1 {
        width: 778px;
        min-height: 427px;
        height: auto;
        margin: 142px auto 60px;
    }

    .u-dialog-section-8 .u-container-layout-1 {
        padding: 0;
    }

    .u-dialog-section-8 .u-group-1 {
        min-height: 61px;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-dialog-section-8 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-dialog-section-8 .u-text-1 {
        font-weight: 700;
        margin: 0 auto;
    }

    .u-dialog-section-8 .u-group-2 {
        width: 123px;
        min-height: 139px;
        height: auto;
        margin: 26px auto 0 29px;
    }

    .u-dialog-section-8 .u-icon-1 {
        width: 64px;
        height: 64px;
        margin: 16px auto 0;
    }

    .u-dialog-section-8 .u-text-2 {
        margin: 20px auto 0;
    }

    .u-dialog-section-8 .u-group-3 {
        width: 123px;
        min-height: 139px;
        height: auto;
        margin: -139px auto 0 182px;
    }

    .u-dialog-section-8 .u-icon-2 {
        width: 64px;
        height: 64px;
        margin: 16px auto 0;
    }

    .u-dialog-section-8 .u-text-3 {
        margin: 14px auto 0;
    }

    .u-dialog-section-8 .u-group-4 {
        width: 123px;
        min-height: 139px;
        height: auto;
        margin: -140px 320px 0 auto;
    }

    .u-dialog-section-8 .u-icon-3 {
        width: 64px;
        height: 64px;
        margin: 16px auto 0;
    }

    .u-dialog-section-8 .u-text-4 {
        margin: 14px auto 0;
    }

    .u-dialog-section-8 .u-group-5 {
        width: 123px;
        min-height: 139px;
        height: auto;
        margin: -139px 167px 0 auto;
    }

    .u-dialog-section-8 .u-icon-4 {
        width: 64px;
        height: 64px;
        margin: 16px auto 0;
    }

    .u-dialog-section-8 .u-text-5 {
        margin: 14px auto 0;
    }

    .u-dialog-section-8 .u-group-6 {
        width: 123px;
        min-height: 139px;
        height: auto;
        margin: -139px 15px 0 auto;
    }

    .u-dialog-section-8 .u-icon-5 {
        width: 64px;
        height: 64px;
        margin: 16px auto 0;
    }

    .u-dialog-section-8 .u-text-6 {
        margin: 14px auto 0;
    }

    .u-dialog-section-8 .u-group-7 {
        width: 123px;
        min-height: 139px;
        height: auto;
        margin: 36px auto 0 30px;
    }

    .u-dialog-section-8 .u-icon-6 {
        width: 64px;
        height: 64px;
        margin: 16px auto 0;
    }

    .u-dialog-section-8 .u-text-7 {
        margin: 14px auto 0;
    }

    .u-dialog-section-8 .u-group-8 {
        width: 123px;
        min-height: 139px;
        height: auto;
        margin: -139px auto 0 187px;
    }

    .u-dialog-section-8 .u-icon-7 {
        width: 64px;
        height: 64px;
        margin: 16px auto 0;
    }

    .u-dialog-section-8 .u-text-8 {
        margin: 14px auto 0;
    }

    .u-dialog-section-8 .u-icon-8 {
        width: 20px;
        height: 20px;
    }

    @@media (max-width: 1199px) {
        .u-dialog-section-8 .u-group-1 {
            margin-top: 0;
            height: auto;
        }

        .u-dialog-section-8 .u-container-layout-2 {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .u-dialog-section-8 .u-group-2 {
            margin-top: 317px;
            height: auto;
        }

        .u-dialog-section-8 .u-icon-1 {
            width: 64px;
        }

        .u-dialog-section-8 .u-group-3 {
            margin-top: 89px;
            margin-left: 182px;
            height: auto;
        }

        .u-dialog-section-8 .u-icon-2 {
            width: 64px;
        }

        .u-dialog-section-8 .u-group-4 {
            margin-top: -367px;
            margin-right: 320px;
            height: auto;
        }

        .u-dialog-section-8 .u-icon-3 {
            width: 64px;
        }

        .u-dialog-section-8 .u-group-5 {
            margin-top: -595px;
            margin-right: 167px;
            height: auto;
        }

        .u-dialog-section-8 .u-icon-4 {
            width: 64px;
        }

        .u-dialog-section-8 .u-group-6 {
            margin-top: -367px;
            margin-right: 15px;
            height: auto;
        }

        .u-dialog-section-8 .u-icon-5 {
            width: 64px;
        }

        .u-dialog-section-8 .u-group-7 {
            margin-top: 317px;
            height: auto;
        }

        .u-dialog-section-8 .u-icon-6 {
            width: 64px;
        }

        .u-dialog-section-8 .u-group-8 {
            margin-top: 317px;
            margin-left: 187px;
            height: auto;
        }

        .u-dialog-section-8 .u-icon-7 {
            width: 64px;
        }
    }

    @@media (max-width: 991px) {
        .u-dialog-section-8 .u-dialog-1 {
            width: 720px;
        }
    }

    @@media (max-width: 767px) {
        .u-dialog-section-8 .u-dialog-1 {
            width: 540px;
        }

        .u-dialog-section-8 .u-container-layout-2 {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @@media (max-width: 575px) {
        .u-dialog-section-8 .u-dialog-1 {
            width: 340px;
        }

        .u-dialog-section-8 .u-group-4 {
            margin-right: 217px;
        }
    }
</style>
<section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-9"
         id="popup-5f95">
    <div class="u-container-style u-dialog u-white u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
            <div class="custom-expanded u-tab-links-align-center u-tabs u-tabs-1">
                <ul class="u-border-2 u-border-grey-75 u-tab-list u-unstyled u-tab-list-1" role="tablist">
                    <li class="u-tab-item" role="presentation">
                        <a class="active u-button-style u-hover-white u-tab-link u-text-black u-text-hover-palette-4-dark-2"
                           id="link-tab-d9e9" href="#tab-d9e9" role="tab" aria-controls="tab-d9e9" aria-selected="true">Login</a>
                    </li>
                    <li class="u-tab-item" role="presentation">
                        <a class="u-button-style u-hover-white u-tab-link u-text-black u-text-hover-palette-4-dark-2"
                           id="link-tab-6a93" href="#tab-6a93" role="tab" aria-controls="tab-6a93"
                           aria-selected="false">Register</a>
                    </li>
                    <li class="u-tab-item" role="presentation">
                        <a class="u-button-style u-hover-white u-tab-link u-text-black u-text-hover-palette-4-dark-2"
                           id="link-tab-c5ee" href="#tab-c5ee" role="tab" aria-controls="tab-c5ee" aria-selected="false">非會員訂房</a>
                    </li>
                </ul>
                <div class="u-tab-content">
                    <div class="u-container-style u-tab-active u-tab-pane" id="tab-d9e9" role="tabpanel"
                         aria-labelledby="link-tab-d9e9">
                        <div class="u-container-layout u-container-layout-2">
                            <div class="u-form u-form-1">
                                <form action="https://forms.nicepagesrv.com/v2/form/process"
                                      class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-1"
                                      style="padding: 10px;">
                                    <div class="u-form-group u-form-name u-label-none">
                                        <label for="name-1239" class="u-label">Name</label>
                                        <input type="text" placeholder="使用者帳號" id="name-1239" name="User"
                                               class="u-input u-input-rectangle" required="required">
                                    </div>
                                    <div class="u-form-group u-form-name u-label-none u-form-group-2">
                                        <label for="name-dc16" class="u-label">Name</label>
                                        <input type="text" placeholder="密碼" id="name-dc16" name="password"
                                               class="u-input u-input-rectangle" required="">
                                    </div>
                                    <div class="u-align-left u-form-group u-form-submit u-label-none">
                                        <a href="#" class="u-btn u-btn-submit u-button-style u-btn-1">Submit</a>
                                        <input type="submit" value="submit" class="u-form-control-hidden">
                                    </div>
                                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                                    <div class="u-form-send-error u-form-send-message">
                                        Unable to send your message. Please fix errors
                                        then try again.
                                    </div>
                                    <input type="hidden" value="" name="recaptchaResponse">
                                    <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                                </form>
                            </div>
                            <a href=""
                               class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-palette-1-base u-btn-2">
                                忘記密碼?
                            </a>
                        </div>
                    </div>
                    <div class="u-container-style u-tab-pane" id="tab-6a93" role="tabpanel" aria-labelledby="link-tab-6a93">
                        <div class="u-container-layout u-container-layout-3">
                            <div class="u-form u-form-2">
                                <form action="https://forms.nicepagesrv.com/v2/form/process"
                                      class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-2"
                                      style="padding: 10px;">
                                    <div class="u-form-group u-form-name u-label-none">
                                        <label for="name-a1f6" class="u-label">Name</label>
                                        <input type="text" placeholder="姓" id="name-a1f6" name="lastNum"
                                               class="u-input u-input-rectangle u-input-3" required="">
                                    </div>
                                    <div class="u-form-group u-form-name u-label-none u-form-group-5">
                                        <label for="name-0ae6" class="u-label">Name</label>
                                        <input type="text" placeholder="名" id="name-0ae6" name="num"
                                               class="u-input u-input-rectangle u-input-4" required="">
                                    </div>
                                    <div class="u-form-email u-form-group u-label-none u-form-group-6">
                                        <label for="email-c271" class="u-label">Email</label>
                                        <input type="email" placeholder="您登入的帳號" id="email-c271" name="email"
                                               class="u-input u-input-rectangle u-input-5" required="">
                                    </div>
                                    <div class="u-form-group u-form-phone u-label-none u-form-group-7">
                                        <label for="phone-d4f0" class="u-label">Phone</label>
                                        <input type="tel"
                                               pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})"
                                               placeholder="行動電話:0912345678/+8869112345678" id="phone-d4f0" name="phone"
                                               class="u-input u-input-rectangle u-input-6" required="">
                                    </div>
                                    <div class="u-form-group u-label-none u-form-group-8">
                                        <label for="text-f6cd" class="u-label">Input</label>
                                        <input type="text" id="text-f6cd" name="password" class="u-input u-input-rectangle u-input-7"
                                               placeholder="密碼:要有英文字母，至少8個字母，至少一個數字">
                                    </div>
                                    <p class="u-custom-font u-form-group u-form-partition-factor-2 u-form-text u-heading-font u-text u-text-1">
                                        生日
                                    </p>
                                    <div class="u-form-date u-form-group u-form-partition-factor-2 u-label-none u-form-group-10">
                                        <label for="date-11a4" class="u-label u-label-8">Date</label>
                                        <input type="text" placeholder="MM/DD/YYYY" id="date-11a4" name="date"
                                               class="u-input u-input-rectangle u-input-8" required="" data-date-format="mm/dd/yyyy">
                                    </div>
                                    <div class="u-align-center u-form-group u-form-submit u-label-none">
                                        <a href="#" class="u-btn u-btn-submit u-button-style u-btn-3">Submit</a>
                                        <input type="submit" value="submit" class="u-form-control-hidden">
                                    </div>
                                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                                    <div class="u-form-send-error u-form-send-message">
                                        Unable to send your message. Please fix errors
                                        then try again.
                                    </div>
                                    <input type="hidden" value="" name="recaptchaResponse">
                                    <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-tab-pane" id="tab-c5ee" role="tabpanel" aria-labelledby="link-tab-c5ee">
                        <div class="u-container-layout u-container-layout-4">
                            <div class="u-form u-form-3">
                                <form action="https://forms.nicepagesrv.com/v2/form/process"
                                      class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-3"
                                      style="padding: 10px;">
                                    <div class="u-form-group u-form-name u-label-none">
                                        <label for="name-3020" class="u-label">Name</label>
                                        <input type="text" placeholder="訂單編號" id="name-3020" name="order_num"
                                               class="u-input u-input-rectangle" required="">
                                    </div>
                                    <div class="u-form-group u-label-none">
                                        <label for="email-3020" class="u-label">Email</label>
                                        <input type="text" placeholder="訂房者:手機/電話" id="email-3020" name="order_iphone"
                                               class="u-input u-input-rectangle" required="required">
                                    </div>
                                    <div class="u-form-email u-form-group u-label-none u-form-group-14">
                                        <label for="email-6cec" class="u-label">Email</label>
                                        <input type="email" placeholder="訂房者:Email" id="email-6cec" name="email"
                                               class="u-input u-input-rectangle" required="">
                                    </div>
                                    <div class="u-align-left u-form-group u-form-submit u-label-none">
                                        <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
                                        <input type="submit" value="submit" class="u-form-control-hidden">
                                    </div>
                                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                                    <div class="u-form-send-error u-form-send-message">
                                        Unable to send your message. Please fix errors
                                        then try again.
                                    </div>
                                    <input type="hidden" value="" name="recaptchaResponse">
                                    <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1">
            <svg class="u-svg-link"
                 preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efe9"></use>
            </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                       xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9">
            <rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16">
          </rect>
            <rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2">
          </rect>
        </svg>
        </button>
    </div>
</section>
