<header>
    <link rel="stylesheet" href="~/css/RoomType.css" media="screen">
</header>
<section class="u-clearfix u-section-1" id="block-2">
    <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-expanded-width u-image u-image-default u-image-1"
             src="~/images/8aeea817fb5e7a58af340ed955c5e681ce3d2627ba71912b484642bb7877b9e616f355d0343c33bd76b25368f05467e82d167a8805452ba339be14_1280.jpg"
             alt="" data-image-width="1280" data-image-height="970">
    </div>
</section>
<section class="u-clearfix u-section-2" id="block-3">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-30 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                                <div class="u-container-layout u-container-layout-1">
                                    <h2 class="u-align-left u-text u-text-1"> 一般樓層</h2>
                                    <p class="u-align-left u-text u-text-2">
                                        寬敞舒適、採光充足的客房，低調簡約的室內設計，融入了在地藝文特色並穿插著暖色調的元素，自然風現代禪風之結合，讓舒適的住宿環境做您享樂旅遊疲累的最佳後盾。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-size-30">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" src=""
                                         data-image-width="1280" data-image-height="853">
                                        <div class="u-container-layout u-container-layout-2">
                                            <div class="u-container-style u-custom-color-3 u-expanded-width u-group u-group-1">
                                                <div class="u-container-layout u-valign-middle u-container-layout-3">
                                                    <p class="u-align-center u-text u-text-body-alt-color u-text-default u-text-3">還東房客 </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2" src=""
                                         data-image-width="1280" data-image-height="847">
                                        <div class="u-container-layout u-container-layout-4">
                                            <div class="u-container-style u-custom-color-4 u-expanded-width u-group u-group-2">
                                                <div class="u-container-layout u-valign-middle u-container-layout-5">
                                                    <p class="u-align-center u-text u-text-body-alt-color u-text-default u-text-4">小西門套房 </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-30">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-3" src=""
                                         data-image-width="1280" data-image-height="853">
                                        <div class="u-container-layout u-container-layout-6">
                                            <div class="u-container-style u-custom-color-5 u-expanded-width u-group u-group-3">
                                                <div class="u-container-layout u-valign-middle u-container-layout-7">
                                                    <p class="u-align-center u-text u-text-body-alt-color u-text-default u-text-5">小西門和洋套房</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-4" src=""
                                         data-image-width="1280" data-image-height="825">
                                        <div class="u-container-layout u-container-layout-8">
                                            <div class="u-container-style u-custom-color-6 u-expanded-width u-group u-group-4">
                                                <div class="u-container-layout u-valign-middle u-container-layout-9">
                                                    <p class="u-align-center u-text u-text-body-alt-color u-text-default u-text-6">府城套房</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-grey-10 u-section-3" id="block-4">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-35 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1">
                                <div class="u-gallery-inner u-gallery-inner-1">
                                    <div class="u-effect-hover-zoom u-gallery-item">
                                        <div class="u-back-slide" data-image-width="1280" data-image-height="825">
                                            <img class="u-back-image u-expanded"
                                                 src="~/images/c4abca5d2a7e7836f02b9a80f0968fe6cf78fc9c365a1cb06f63bc7ffa41965a9b1fefdc150621b9251fadc18f91cfd79f2c283f9d6b9ffbb75b06_1280.jpg">
                                        </div>
                                        <div class="u-over-slide u-shading u-over-slide-1"></div>
                                    </div>
                                    <div class="u-effect-hover-zoom u-gallery-item">
                                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                                            <img class="u-back-image u-expanded"
                                                 src="~/images/28d9209353819f2e81301154443fd0dfcf2ead4cc10d71f0816ce26edcfb32df7588c510d0355b908fdcc6cdbd408ef2c12be699316711bae24413_1280.jpg">
                                        </div>
                                        <div class="u-over-slide u-shading u-over-slide-2"></div>
                                    </div>
                                    <div class="u-effect-hover-zoom u-gallery-item">
                                        <div class="u-back-slide" data-image-width="1280" data-image-height="847">
                                            <img class="u-back-image u-expanded"
                                                 src="~/images/e48082178fd033bfc0db879f274b33804a724e13b165239ef93607fc4d135f2f10f31a2757d4862de2a7dc555ba56b723609cf19f766d4bfacbc78_1280.jpg">
                                        </div>
                                        <div class="u-over-slide u-shading u-over-slide-3"></div>
                                    </div>
                                    <div class="u-effect-hover-zoom u-gallery-item">
                                        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                                            <img class="u-back-image u-expanded"
                                                 src="~/images/8625ef7e775fdf8fab8c50a443bbc844638847d86c693eb9d5ebfd0a8bef16d86f926d3e44c7f76cf13a419a75679bd1d8ea9ec281c3b001c9fe66_1280.jpg">
                                        </div>
                                        <div class="u-over-slide u-shading u-over-slide-4"></div>
                                    </div>
                                    <div class="u-effect-hover-zoom u-gallery-item">
                                        <div class="u-back-slide" data-image-width="1280" data-image-height="970">
                                            <img class="u-back-image u-expanded"
                                                 src="~/images/8aeea817fb5e7a58af340ed955c5e681ce3d2627ba71912b484642bb7877b9e616f355d0343c33bd76b25368f05467e82d167a8805452ba339be14_1280.jpg">
                                        </div>
                                        <div class="u-over-slide u-shading u-over-slide-5"></div>
                                    </div>
                                    <div class="u-effect-hover-zoom u-gallery-item">
                                        <div class="u-back-slide" data-image-width="1280" data-image-height="854">
                                            <img class="u-back-image u-expanded"
                                                 src="~/images/625e5470eec332849d3cb73d874325307aaa1d091c57364a5278daf5b09a3787a9d1b8b3af5a85be264492689e9c7fa8ed9e10a77cc216fb6e0e92_1280.jpg">
                                        </div>
                                        <div class="u-over-slide u-shading u-over-slide-6"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-container-style u-custom-color-6 u-group u-group-1">
                                <div class="u-container-layout u-valign-middle u-container-layout-2">
                                    <p class="u-align-center u-text u-text-body-alt-color u-text-default u-text-1">行政海東客房 </p>
                                </div>
                            </div>
                            <div class="u-container-style u-custom-color-6 u-group u-group-2">
                                <div class="u-container-layout u-valign-middle u-container-layout-3">
                                    <p class="u-align-center u-text u-text-body-alt-color u-text-default u-text-2">行政小西套房 </p>
                                </div>
                            </div>
                            <div class="u-container-style u-custom-color-6 u-group u-group-3">
                                <div class="u-container-layout u-valign-middle u-container-layout-4">
                                    <p class="u-align-center u-text u-text-body-alt-color u-text-default u-text-3">行政小西門和洋套房 </p>
                                </div>
                            </div>
                            <div class="u-container-style u-custom-color-6 u-group u-group-4">
                                <div class="u-container-layout u-valign-middle u-container-layout-5">
                                    <p class="u-align-center u-text u-text-body-alt-color u-text-default u-text-4">行政府城套房 </p>
                                </div>
                            </div>
                            <div class="u-container-style u-custom-color-6 u-group u-group-5">
                                <div class="u-container-layout u-container-layout-6">
                                    <p class="u-align-center u-text u-text-body-alt-color u-text-5">晶英套房</p>
                                </div>
                            </div>
                            <div class="u-container-style u-custom-color-6 u-group u-group-6">
                                <div class="u-container-layout u-valign-middle u-container-layout-7">
                                    <p class="u-align-center u-text u-text-body-alt-color u-text-default u-text-6">晶英貴賓廊</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-25 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-8">
                            <h2 class="u-align-left u-text u-text-7"> 貴賓樓層</h2>
                            <p class="u-align-left u-text u-text-8">
                                專為商務旅客規劃的54間行政樓層客房，客房設備完善，入住晶英貴賓樓層可享受「晶英貴賓廊」的各項禮遇，個人化服務一應俱全。讓每一位下榻於此的賓客都能享受貼心完善的服務及頂級非凡的住宿體驗。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-section-4" id="block-5">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">
            房型一覽表<span style="font-weight: 700;"></span>
        </h2>
        <div class="custom-expanded u-align-center u-table u-table-responsive u-table-1">
            <table class="u-table-entity u-table-entity-1">
                <colgroup>
                    <col width="20%">
                    <col width="19.8%">
                    <col width="21.3%">
                    <col width="18.9%">
                    <col width="20%">
                </colgroup>
                <thead class="u-black u-table-header u-table-header-1">
                    <tr style="height: 62px;">
                        <th class="u-border-1 u-border-black u-table-cell"> 樓層</th>
                        <th class="u-border-1 u-border-black u-table-cell"> 房型 </th>
                        <th class="u-border-1 u-border-black u-table-cell"> 床型</th>
                        <th class="u-border-1 u-border-black u-table-cell"> 房間尺寸(坪)</th>
                        <th class="u-border-1 u-border-black u-table-cell"> 可容納人數</th>
                    </tr>
                </thead>
                <tbody class="u-align-center u-table-body">
                    <tr style="height: 144px;">
                        <td class="u-border-3 u-border-grey-30 u-border-no-bottom u-border-no-top u-table-cell"></td>
                        <td class="u-border-3 u-border-grey-30 u-table-cell u-table-cell-7"> 海東客房</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">
                            一大床<br>兩中床<br>兩小床<br>
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">12</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">3 </td>
                    </tr>
                    <tr style="height: 75px;">
                        <td class="u-border-3 u-border-grey-30 u-border-no-bottom u-border-no-top u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"> 小西門套房</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">
                            一大床<br>兩中床<br>兩小床
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"> 12</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">5</td>
                    </tr>
                    <tr style="height: 146px;">
                        <td class="u-border-3 u-border-grey-30 u-border-no-bottom u-border-no-top u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"> 小西門和洋套房</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">
                            一大床<br>兩中床<br>兩小床
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"> 12</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">4</td>
                    </tr>
                    <tr style="height: 138px;">
                        <td class="u-border-3 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"> 府城套房</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">
                            一大床<br>兩中床<br>兩小床
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"> 12</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">4</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="u-text u-text-default u-text-2"> 一般樓層</p>
        <p class="u-text u-text-default u-text-3"> 一般樓層</p>
    </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-section-5" id="block-6">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-1"> 住房優惠</h2>
        <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <img class="u-expanded-width u-image u-image-default u-image-1" alt="" data-image-width="2836"
                             data-image-height="1875" src="~/images/90fc53c9.svg">
                        <h4 class="u-text u-text-2">2024.05.31 - 2030.12.31</h4>
                        <p class="u-text u-text-3">永續旅遊 | 客房備品指南 </p>
                    </div>
                </div>
                <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-default u-image-2" alt="" data-image-width="2836"
                             data-image-height="1875" src="~/images/90fc53c9.svg">
                        <h4 class="u-text u-text-4">2025.02.19 - 2040.12.31</h4>
                        <p class="u-text u-text-5">住房專案</p>
                    </div>
                </div>
                <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <img class="u-expanded-width u-image u-image-default u-image-3" alt="" data-image-width="2836"
                             data-image-height="1875" src="~/images/90fc53c9.svg">
                        <h4 class="u-text u-text-6">Sample Headline</h4>
                        <p class="u-text u-text-7">
                            Sample text. Click to select the text box. Click again or double click to start
                            editing the text.
                        </p>
                    </div>
                </div>
                <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <img class="u-expanded-width u-image u-image-default u-image-4" alt="" data-image-width="2836"
                             data-image-height="1875" src="~/images/90fc53c9.svg">
                        <h4 class="u-text u-text-8">Sample Headline</h4>
                        <p class="u-text u-text-9">
                            Sample text. Click to select the text box. Click again or double click to start
                            editing the text.
                        </p>
                    </div>
                </div>
            </div>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1"
               href="#" role="button">
                <span aria-hidden="true">
                    <svg viewBox="0 0 451.847 451.847">
                        <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                    </svg>
                </span>
                <span class="sr-only">
                    <svg viewBox="0 0 451.847 451.847">
                        <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                    </svg>
                </span>
            </a>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
               href="#" role="button">
                <span aria-hidden="true">
                    <svg viewBox="0 0 451.846 451.847">
                        <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                    </svg>
                </span>
                <span class="sr-only">
                    <svg viewBox="0 0 451.846 451.847">
                        <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>