/****** Object:  Table [Booking]    Script Date: 2025/6/24 22:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Booking](
	[bookingId] [int] NOT NULL,
	[userName] [varchar](50) NULL,
	[roomId] [int] NOT NULL,
	[checkInDate] [date] NULL,
	[checkOutDate] [date] NULL,
	[bookingDate] [date] NULL,
	[totalAmount] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [CodeItem]    Script Date: 2025/6/24 22:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CodeItem](
	[CodeID] [nvarchar](50) NOT NULL,
	[ItemValue] [tinyint] NULL,
	[ItemText] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Customers]    Script Date: 2025/6/24 22:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Customers](
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Members]    Script Date: 2025/6/24 22:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Members](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[memberid] [nvarchar](50) NOT NULL,
	[account] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[firstName] [nvarchar](100) NOT NULL,
	[lastName] [nvarchar](100) NOT NULL,
	[cardID] [nvarchar](50) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[birthday] [date] NULL,
	[gender] [tinyint] NULL,
	[nationality] [nvarchar](100) NULL,
	[city] [nvarchar](100) NULL,
	[initDate] [datetime] NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Rooms]    Script Date: 2025/6/24 22:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rooms](
	[roomId] [int] IDENTITY(1,1) NOT NULL,
	[roomType] [nvarchar](150) NULL,
	[floor] [varchar](150) NULL,
	[roomNumber] [int] NULL,
	[bedType] [nvarchar](150) NULL,
	[price] [decimal](18, 0) NULL,
	[capacity] [tinyint] NOT NULL,
	[description] [nvarchar](150) NULL,
	[facilities] [nvarchar](150) NULL,
	[ImageURL] [nvarchar](400) NULL,
	[vacantRoom] [tinyint] NOT NULL,
	[cookingCount] [int] NOT NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[roomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Booking] ([bookingId], [userName], [roomId], [checkInDate], [checkOutDate], [bookingDate], [totalAmount]) VALUES (6, N'mark65', 414, CAST(N'2025-06-16' AS Date), CAST(N'2025-06-20' AS Date), CAST(N'2025-06-16' AS Date), 2856.0000)
GO
INSERT [CodeItem] ([CodeID], [ItemValue], [ItemText]) VALUES (N'gender', 0, N'男')
INSERT [CodeItem] ([CodeID], [ItemValue], [ItemText]) VALUES (N'gender', 1, N'女')
INSERT [CodeItem] ([CodeID], [ItemValue], [ItemText]) VALUES (N'gender', 2, N'中性')
GO
SET IDENTITY_INSERT [Members] ON 

INSERT [Members] ([id], [memberid], [account], [password], [firstName], [lastName], [cardID], [email], [phone], [birthday], [gender], [nationality], [city], [initDate]) VALUES (1, N'root', N'root', N'test01', N'John', N'Doe', N'A123456789', N'johndoe@example.com', N'912345678', CAST(N'1990-01-15' AS Date), 0, NULL, NULL, CAST(N'2025-05-13T21:11:47.077' AS DateTime))
INSERT [Members] ([id], [memberid], [account], [password], [firstName], [lastName], [cardID], [email], [phone], [birthday], [gender], [nationality], [city], [initDate]) VALUES (2, N'M001', N'johndoe', N'Pass1234', N'John', N'Doe', N'A123456789', N'johndoe@example.com', N'912345678', CAST(N'1990-01-15' AS Date), 0, NULL, NULL, CAST(N'2025-05-13T21:11:47.077' AS DateTime))
INSERT [Members] ([id], [memberid], [account], [password], [firstName], [lastName], [cardID], [email], [phone], [birthday], [gender], [nationality], [city], [initDate]) VALUES (3, N'M002', N'janesmith', N'Pwd5678', N'Jane', N'Smith', N'B987654321', N'janesmith@example.com', N'922333444', CAST(N'1985-05-20' AS Date), 1, NULL, NULL, CAST(N'2025-05-13T21:12:28.900' AS DateTime))
SET IDENTITY_INSERT [Members] OFF
GO
SET IDENTITY_INSERT [Rooms] ON 

INSERT [Rooms] ([roomId], [roomType], [floor], [roomNumber], [bedType], [price], [capacity], [description], [facilities], [ImageURL], [vacantRoom], [cookingCount], [createdAt], [updatedAt]) VALUES (1, N'舒適雙人房', N'10', 1017, N'特大雙人床', CAST(2999 AS Decimal(18, 0)), 2, N'舒適雙人房，面積約 24 平方公尺，位於10樓，提供特大雙人床。', N'平面電視, 熱水壺, 免費無線網路, 書桌, 空調, 吹風機, 免費盥洗用品', N'https://i.ibb.co/GqgR47L/03.webp', 1, 10, CAST(N'2025-03-07T20:46:09.000' AS DateTime), CAST(N'2025-03-08T12:46:09.000' AS DateTime))
INSERT [Rooms] ([roomId], [roomType], [floor], [roomNumber], [bedType], [price], [capacity], [description], [facilities], [ImageURL], [vacantRoom], [cookingCount], [createdAt], [updatedAt]) VALUES (2, N'精緻三人房', N'12', 1219, N'單人床', CAST(2260 AS Decimal(18, 0)), 2, N'精緻三人房，面積約 39 平方公尺，位於12樓，提供單人床。', N'吹風機, 書桌, 免費無線網路, 平面電視, 免費盥洗用品, 熱水壺, 空調', N'https://i.ibb.co/zh4T4sR1/06.webp', 1, 10, CAST(N'2025-03-12T20:46:09.000' AS DateTime), CAST(N'2025-03-14T03:46:09.000' AS DateTime))
INSERT [Rooms] ([roomId], [roomType], [floor], [roomNumber], [bedType], [price], [capacity], [description], [facilities], [ImageURL], [vacantRoom], [cookingCount], [createdAt], [updatedAt]) VALUES (3, N'標準雙人房', N'7', 710, N'兩張單人床', CAST(2392 AS Decimal(18, 0)), 2, N'標準單人房，面積約 32 平方公尺，位於7樓，提供兩張單人床。', N'吹風機, 平面電視, 免費盥洗用品, 書桌, 免費無線網路, 空調', N'https://i.ibb.co/KxXwxPH2/03.webp', 0, 15, CAST(N'2025-04-16T20:46:09.000' AS DateTime), CAST(N'2025-04-17T05:46:09.000' AS DateTime))
SET IDENTITY_INSERT [Rooms] OFF
GO
ALTER TABLE [Members] ADD  DEFAULT (getdate()) FOR [initDate]
GO
ALTER TABLE [Rooms] ADD  DEFAULT ((0)) FOR [capacity]
GO
ALTER TABLE [Rooms] ADD  DEFAULT ((0)) FOR [vacantRoom]
GO
ALTER TABLE [Rooms] ADD  DEFAULT ((0)) FOR [cookingCount]
GO
ALTER TABLE [Members]  WITH CHECK ADD  CONSTRAINT [CHK_Members_Gender] CHECK  (([gender]=(2) OR [gender]=(1) OR [gender]=(0)))
GO
ALTER TABLE [Members] CHECK CONSTRAINT [CHK_Members_Gender]
GO
